Pandas

In [1]:
import pandas as pd
import numpy as np

In [ ]:
# Dataframe is structured data - rows and columns
# series is columns in dataframe - building blocks of dataframe - labelled 1d array - series have titles
#
# series uses more memory than array

In [ ]:
# create an array with 10 elements
a=np.arange(1,11)
a

b=pd.Series(a)
b

b.ndim
b.size
b.shape

10

In [ ]:
b.head()          #print first 5 elements
b.head(6)         #by default its 5 but value can be given

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
b.tail()          #print last 5 elements of the series
b.tail(6)         #print last elements upto given value

4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
# add two series

a=pd.Series([1,2,3,4,5])
b=pd.Series([10,20,30,40,50])
c=pd.concat([a,b],ignore_index=True)
c

0     1
1     2
2     3
3     4
4     5
5    10
6    20
7    30
8    40
9    50
dtype: int64

In [ ]:
a.add(b)
a.sub(b)
a.mul(b)
a.div(b)

0    0.1
1    0.1
2    0.1
3    0.1
4    0.1
dtype: float64

In [ ]:
# create a series with named index
a=pd.Series([1,2,3,4],index=["a","b","c","d"])
a

a    1
b    2
c    3
d    4
dtype: int64

In [ ]:
# series can be created using a dictionary
d={101:"apple",102:"orange",103:"mango"}

e=pd.Series(d)
e

101     apple
102    orange
103     mango
dtype: object

In [ ]:
s=pd.Series(4,index=[1,2,3,4,5,6])
s

1    4
2    4
3    4
4    4
5    4
6    4
dtype: int64

In [ ]:
# accessing a single element in series
s=pd.Series([1,2,3,4,5])
s[2]

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
s[2:4]

2    3
3    4
dtype: int64

In [ ]:
s[[2,4]]

2    3
4    5
dtype: int64

DataFrame

In [ ]:
l=[1,2,3,4,5]
df=pd.DataFrame(l)

df

df.ndim
df.shape
df.size

5

In [ ]:
# creating dataframe from nested list

l=[["apple",10],["orange",20]]
df=pd.DataFrame(l,columns=['fruits','price'])
df

   fruits  price
0   apple     10
1  orange     20

In [ ]:
# create a dataframe with id name location and add 4 data points
l=[[1,"Rahul","Kochi"],[2,"Jishnu","Trivandrum"],[3,"Suraj","Rak"],[4,"Abrar","Toronto"]]
df=pd.DataFrame(l,columns=["id","name","location"])
df

   id    name    location
0   1   Rahul       Kochi
1   2  Jishnu  Trivandrum
2   3   Suraj         Rak
3   4   Abrar     Toronto

In [ ]:
# creating a dataframe from dictionary and list

d={"name":["Hiran","Techno","Metro"],"location":["rak","abu","dub"],"age":[23,45,24]}

df=pd.DataFrame(d,index=["a","b","c"])

df

     name location  age
a   Hiran      rak   23
b  Techno      abu   45
c   Metro      dub   24

In [ ]:
# creating dataframe from list of dictionaries

l=[{"fruits":"apple","price":20},{"fruits":"orange","price":30},{"fruits":"mango","price":45}]

df=pd.DataFrame(l)

df

   fruits  price
0   apple     20
1  orange     30
2   mango     45

In [ ]:
# create a dataframe with id,name,age,salary,profession

l={"id":[101,102,103,104,105],"name":["Steven","Gerrard","Sergio","Ramos","Pique"],"age":[45,34,56,34,21],"salary":[12900,24000,45300,45700,34000],
   "profession":["Data Scientist","DB Administrator","Software Tester","Team Leader","Manager"]}

df=pd.DataFrame(l)

df

l["gender"]=["m","f","m","m","f"]           #adding a new column

df=pd.DataFrame(l)


df

    id     name  age  salary        profession gender
0  101   Steven   45   12900    Data Scientist      m
1  102  Gerrard   34   24000  DB Administrator      f
2  103   Sergio   56   45300   Software Tester      m
3  104    Ramos   34   45700       Team Leader      m
4  105    Pique   21   34000           Manager      f

In [ ]:
df.head(2)

    id     name  age  salary        profession gender
0  101   Steven   45   12900    Data Scientist      m
1  102  Gerrard   34   24000  DB Administrator      f

In [ ]:
df.tail(2)

    id   name  age  salary   profession gender
3  104  Ramos   34   45700  Team Leader      m
4  105  Pique   21   34000      Manager      f

In [ ]:
df.columns

Index(['id', 'name', 'age', 'salary', 'profession', 'gender'], dtype='object')

In [ ]:
df.dtypes

id             int64
name          object
age            int64
salary         int64
profession    object
gender        object
dtype: object

In [ ]:
df.describe()

               id       age        salary
count    5.000000   5.00000      5.000000
mean   103.000000  38.00000  32380.000000
std      1.581139  13.17194  14112.653896
min    101.000000  21.00000  12900.000000
25%    102.000000  34.00000  24000.000000
50%    103.000000  34.00000  34000.000000
75%    104.000000  45.00000  45300.000000
max    105.000000  56.00000  45700.000000

In [ ]:
df.describe(include="O")

          name      profession gender
count        5               5      5
unique       5               5      2
top     Steven  Data Scientist      m
freq         1               1      3

In [ ]:
df.describe(include="all")

                id    name       age        salary      profession gender
count     5.000000       5   5.00000      5.000000               5      5
unique         NaN       5       NaN           NaN               5      2
top            NaN  Steven       NaN           NaN  Data Scientist      m
freq           NaN       1       NaN           NaN               1      3
mean    103.000000     NaN  38.00000  32380.000000             NaN    NaN
std       1.581139     NaN  13.17194  14112.653896             NaN    NaN
min     101.000000     NaN  21.00000  12900.000000             NaN    NaN
25%     102.000000     NaN  34.00000  24000.000000             NaN    NaN
50%     103.000000     NaN  34.00000  34000.000000             NaN    NaN
75%     104.000000     NaN  45.00000  45300.000000             NaN    NaN
max     105.000000     NaN  56.00000  45700.000000             NaN    NaN

In [ ]:
# creating dataframe using dictionary and series

d={"fruits":pd.Series([1,2,3,4,5])}
df=pd.DataFrame(d)
df

   fruits
0       1
1       2
2       3
3       4
4       5

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          5 non-null      int64
 1   name        5 non-null      object
 2   age         5 non-null      int64
 3   salary      5 non-null      int64
 4   profession  5 non-null      object
 5   gender      5 non-null      object
dtypes: int64(3), object(3)
memory usage: 372.0+ bytes

In [ ]:
df=pd.read_csv("/content/lung_cancer_examples.csv")
df

           Name      Surname  Age  Smokes  AreaQ  Alkhol  Result
0          John         Wick   35       3      5       4       1
1          John  Constantine   27      20      2       5       1
2        Camela     Anderson   30       0      5       2       0
3          Alex       Telles   28       0      8       1       0
4         Diego     Maradona   68       4      5       6       1
5     Cristiano      Ronaldo   34       0     10       0       0
6        Mihail          Tal   58      15     10       0       0
7         Kathy        Bates   22      12      5       2       0
8        Nicole       Kidman   45       2      6       0       0
9           Ray      Milland   52      18      4       5       1
10      Fredric        March   33       4      8       0       0
11          Yul      Brynner   18      10      6       3       0
12         Joan     Crawford   25       2      5       1       0
13         Jane        Wyman   28      20      2       8       1
14         Anna      Magnani   34      25      4       8       1
15   Katharine       Hepburn   39      18      8       1       0
16   Katharine       Hepburn   42      22      3       5       1
17       Barbra    Streisand   19      12      8       0       0
18      Maggie         Smith   62       5      4       3       1
19      Glenda       Jackson   73      10      7       6       1
20        Jane         Fonda   55      15      1       3       1
21  Maximilian        Schell   33       8      8       1       0
22     Gregory          Peck   22      20      6       2       0
23      Sidney       Poitier   44       5      8       1       0
24         Rex      Harrison   77       3      2       6       1
25         Lee        Marvin   21      20      5       3       0
26        Paul      Scofield   37      15      6       2       0
27         Rod       Steiger   34      12      8       0       0
28        John         Wayne   55      20      1       4       1
29        Gene       Hackman   40      20      2       7       1
30      Marlon        Brando   36      13      5       2       0
31        Jack        Lemmon   56      20      3       3       1
32        Jack     Nicholson   47      15      1       8       1
33       Peter        Finch    62      25      3       4       1
34     Richard      Dreyfuss   26      10      7       2       0
35      Dustin       Hoffman   25      20      8       2       0
36       Henry        Henry    59      20      3       4       1
37      Robert        Duvall   62      15      5       5       1
38       Ellen       Burstyn   33      25      8       2       0
39        Faye       Dunaway   37      10      5       3       0
40       Diane        Keaton   50      20      2       4       1
41        Jane         Fonda   47      12      8       0       0
42       Sally         Field   69      20      5       4       1
43       Sissy        Spacek   63      20      4       5       1
44     Jessica         Lange   39      15      7       2       0
45     Gwyneth       Paltrow   21      20      8       3       0
46       Halle         Berry   31      20      9       4       0
47      Nicole        Kidman   28      10      4       1       0
48    Charlize        Theron   53      20      6       3       1
49   Katharine       Hepburn   62      20      5       6       1
50   Katharine       Hepburn   42      12      6       2       0
51      Barbra     Streisand   44      30      1       6       1
52      Maggie         Smith   26      34      1       8       1
53      Glenda       Jackson   35      20      5       1       0
54      Ernest      Borgnine   26      13      6       1       0
55        Alec      Guinness   77      20      5       4       1
56    Charlton        Heston   75      15      3       5       1
57     Gregory          Peck   43      30      3       8       1
58      Sidney       Poitier   51      25      9       0       0

In [ ]:
df.head()

     Name      Surname  Age  Smokes  AreaQ  Alkhol  Result
0    John         Wick   35       3      5       4       1
1    John  Constantine   27      20      2       5       1
2  Camela     Anderson   30       0      5       2       0
3    Alex       Telles   28       0      8       1       0
4   Diego     Maradona   68       4      5       6       1

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     59 non-null     object
 1   Surname  59 non-null     object
 2   Age      59 non-null     int64
 3   Smokes   59 non-null     int64
 4   AreaQ    59 non-null     int64
 5   Alkhol   59 non-null     int64
 6   Result   59 non-null     int64
dtypes: int64(5), object(2)
memory usage: 3.4+ KB

In [ ]:
df.describe()

             Age     Smokes      AreaQ     Alkhol     Result
count  59.000000  59.000000  59.000000  59.000000  59.000000
mean   42.627119  15.067797   5.203390   3.237288   0.474576
std    16.235230   7.984607   2.461984   2.380517   0.503640
min    18.000000   0.000000   1.000000   0.000000   0.000000
25%    29.000000  10.000000   3.000000   1.000000   0.000000
50%    39.000000  15.000000   5.000000   3.000000   0.000000
75%    55.000000  20.000000   7.500000   5.000000   1.000000
max    77.000000  34.000000  10.000000   8.000000   1.000000

In [ ]:
df.tail()

         Name   Surname  Age  Smokes  AreaQ  Alkhol  Result
54    Ernest   Borgnine   26      13      6       1       0
55      Alec   Guinness   77      20      5       4       1
56  Charlton     Heston   75      15      3       5       1
57   Gregory       Peck   43      30      3       8       1
58    Sidney    Poitier   51      25      9       0       0

In [ ]:
print(df[["Name",'Surname']])         #df.Name

           Name      Surname
0          John         Wick
1          John  Constantine
2        Camela     Anderson
3          Alex       Telles
4         Diego     Maradona
5     Cristiano      Ronaldo
6        Mihail          Tal
7         Kathy        Bates
8        Nicole       Kidman
9           Ray      Milland
10      Fredric        March
11          Yul      Brynner
12         Joan     Crawford
13         Jane        Wyman
14         Anna      Magnani
15   Katharine       Hepburn
16   Katharine       Hepburn
17       Barbra    Streisand
18      Maggie         Smith
19      Glenda       Jackson
20        Jane         Fonda
21  Maximilian        Schell
22     Gregory          Peck
23      Sidney       Poitier
24         Rex      Harrison
25         Lee        Marvin
26        Paul      Scofield
27         Rod       Steiger
28        John         Wayne
29        Gene       Hackman
30      Marlon        Brando
31        Jack        Lemmon
32        Jack     Nicholson
33       Peter        Finch
34     Richard      Dreyfuss
35      Dustin       Hoffman
36       Henry        Henry
37      Robert        Duvall
38       Ellen       Burstyn
39        Faye       Dunaway
40       Diane        Keaton
41        Jane         Fonda
42       Sally         Field
43       Sissy        Spacek
44     Jessica         Lange
45     Gwyneth       Paltrow
46       Halle         Berry
47      Nicole        Kidman
48    Charlize        Theron
49   Katharine       Hepburn
50   Katharine       Hepburn
51      Barbra     Streisand
52      Maggie         Smith
53      Glenda       Jackson
54      Ernest      Borgnine
55        Alec      Guinness
56    Charlton        Heston
57     Gregory          Peck
58      Sidney       Poitier

In [ ]:
x=df[['Alkhol',"Result"]].head()
x

   Alkhol  Result
0       4       1
1       5       1
2       2       0
3       1       0
4       6       1

In [ ]:
df=pd.read_csv("/content/Mall_Customers.csv")
df

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [ ]:
# display first 3 observations

df.head(3)

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6

In [ ]:
# display last 3 observations


df.tail(3)

     CustomerID Genre  Age  Annual Income (k$)  Spending Score (1-100)
197         198  Male   32                 126                      74
198         199  Male   32                 137                      18
199         200  Male   30                 137                      83

In [ ]:
# find no. of rows and columns
df.shape

(200, 5)

In [ ]:

# find datatypes of each attribute

df.dtypes

CustomerID                 int64
Genre                     object
Age                        int64
Annual Income (k$)         int64
Spending Score (1-100)     int64
dtype: object

In [ ]:
# find total no. of data

df.size

1000

In [ ]:
# checks if missing value
df.isna()

     CustomerID  Genre    Age  Annual Income (k$)  Spending Score (1-100)
0         False  False  False               False                   False
1         False  False  False               False                   False
2         False  False  False               False                   False
3         False  False  False               False                   False
4         False  False  False               False                   False
..          ...    ...    ...                 ...                     ...
195       False  False  False               False                   False
196       False  False  False               False                   False
197       False  False  False               False                   False
198       False  False  False               False                   False
199       False  False  False               False                   False

[200 rows x 5 columns]

In [ ]:
df.isna().sum()

CustomerID                0
Genre                     0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [ ]:
# checks for null values
df.isnull()

     CustomerID  Genre    Age  Annual Income (k$)  Spending Score (1-100)
0         False  False  False               False                   False
1         False  False  False               False                   False
2         False  False  False               False                   False
3         False  False  False               False                   False
4         False  False  False               False                   False
..          ...    ...    ...                 ...                     ...
195       False  False  False               False                   False
196       False  False  False               False                   False
197       False  False  False               False                   False
198       False  False  False               False                   False
199       False  False  False               False                   False

[200 rows x 5 columns]

In [ ]:
df.isnull().sum()

CustomerID                0
Genre                     0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [ ]:
# using index get the specific rows
df.iloc[2]

CustomerID                     3
Genre                     Female
Age                           20
Annual Income (k$)            16
Spending Score (1-100)         6
Name: 2, dtype: object

In [ ]:
df.iloc[0:3]

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6

In [ ]:
df.iloc[0::2]

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
2             3  Female   20                  16                       6
4             5  Female   31                  17                      40
6             7  Female   35                  18                       6
8             9    Male   64                  19                       3
..          ...     ...  ...                 ...                     ...
190         191  Female   34                 103                      23
192         193    Male   33                 113                       8
194         195  Female   47                 120                      16
196         197  Female   45                 126                      28
198         199    Male   32                 137                      18

[100 rows x 5 columns]

In [ ]:
df.columns=["CustomerID","Gender","Age","Annual Income (k$)","Spending Score(1-100)"]

df

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score(1-100)
0             1    Male   19                  15                     39
1             2    Male   21                  15                     81
2             3  Female   20                  16                      6
3             4  Female   23                  16                     77
4             5  Female   31                  17                     40
..          ...     ...  ...                 ...                    ...
195         196  Female   35                 120                     79
196         197  Female   45                 126                     28
197         198    Male   32                 126                     74
198         199    Male   32                 137                     18
199         200    Male   30                 137                     83

[200 rows x 5 columns]

In [ ]:
# get rows with cusid,age,spendinf score

df1=df[['CustomerID','Age',"Spending Score(1-100)"]]        #df.iloc[:,0::2]
df1

     CustomerID  Age  Spending Score(1-100)
0             1   19                     39
1             2   21                     81
2             3   20                      6
3             4   23                     77
4             5   31                     40
..          ...  ...                    ...
195         196   35                     79
196         197   45                     28
197         198   32                     74
198         199   32                     18
199         200   30                     83

[200 rows x 3 columns]

In [ ]:
# get values from 20 to 30 with cusid,age,spendinf score

df1.iloc[20:31]                                   #df.iloc[20:31,0::2]

    CustomerID  Age  Spending Score(1-100)
20          21   35                     35
21          22   25                     73
22          23   46                      5
23          24   31                     73
24          25   54                     14
25          26   29                     82
26          27   45                     32
27          28   35                     61
28          29   40                     31
29          30   23                     87
30          31   60                      4

In [ ]:
x=df[["CustomerID","Gender","Age","Annual Income (k$)"]]        #x=df.iloc[:,:-1]
x

     CustomerID  Gender  Age  Annual Income (k$)
0             1    Male   19                  15
1             2    Male   21                  15
2             3  Female   20                  16
3             4  Female   23                  16
4             5  Female   31                  17
..          ...     ...  ...                 ...
195         196  Female   35                 120
196         197  Female   45                 126
197         198    Male   32                 126
198         199    Male   32                 137
199         200    Male   30                 137

[200 rows x 4 columns]

In [ ]:
y=df["Spending Score(1-100)"]                   #y=df.iloc[:,-1]

y

0      39
1      81
2       6
3      77
4      40
       ..
195    79
196    28
197    74
198    18
199    83
Name: Spending Score(1-100), Length: 200, dtype: int64

In [ ]:
# loc is used to filter / give condition

df.loc[df["Age"]>21]

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score(1-100)
3             4  Female   23                  16                     77
4             5  Female   31                  17                     40
5             6  Female   22                  17                     76
6             7  Female   35                  18                      6
7             8  Female   23                  18                     94
..          ...     ...  ...                 ...                    ...
195         196  Female   35                 120                     79
196         197  Female   45                 126                     28
197         198    Male   32                 126                     74
198         199    Male   32                 137                     18
199         200    Male   30                 137                     83

[178 rows x 5 columns]

In [ ]:
df.loc[df["Gender"]=="Male"]

     CustomerID Gender  Age  Annual Income (k$)  Spending Score(1-100)
0             1   Male   19                  15                     39
1             2   Male   21                  15                     81
8             9   Male   64                  19                      3
10           11   Male   67                  19                     14
14           15   Male   37                  20                     13
..          ...    ...  ...                 ...                    ...
187         188   Male   28                 101                     68
192         193   Male   33                 113                      8
197         198   Male   32                 126                     74
198         199   Male   32                 137                     18
199         200   Male   30                 137                     83

[88 rows x 5 columns]

In [ ]:
# when more than one condition, give them in tuples

df.loc[(df["Age"]>21) & (df["Gender"]=="Male")]

     CustomerID Gender  Age  Annual Income (k$)  Spending Score(1-100)
8             9   Male   64                  19                      3
10           11   Male   67                  19                     14
14           15   Male   37                  20                     13
15           16   Male   22                  20                     79
18           19   Male   52                  23                     29
..          ...    ...  ...                 ...                    ...
187         188   Male   28                 101                     68
192         193   Male   33                 113                      8
197         198   Male   32                 126                     74
198         199   Male   32                 137                     18
199         200   Male   30                 137                     83

[75 rows x 5 columns]

In [ ]:
df.loc[(df["Age"]>20) & (df["Spending Score(1-100)"]>40)]

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score(1-100)
1             2    Male   21                  15                     81
3             4  Female   23                  16                     77
5             6  Female   22                  17                     76
7             8  Female   23                  18                     94
9            10  Female   30                  19                     72
..          ...     ...  ...                 ...                    ...
191         192  Female   32                 103                     69
193         194  Female   38                 113                     91
195         196  Female   35                 120                     79
197         198    Male   32                 126                     74
199         200    Male   30                 137                     83

[125 rows x 5 columns]

In [ ]:
# spending score 20 with cid and age

x=df.loc[df["Spending Score(1-100)"]==20]       #df.loc[df['Spending Score(1-100)']==20][["CustomerID","Age"]]
x[["CustomerID","Age"]]                         #df.loc[df['Spending Score(1-100)']==20].iloc[:,0:3:2]

     CustomerID  Age
152         153   44
166         167   42

In [ ]:
# Male annual income >15 ,get annual income and spending score

y=df.loc[(df["Annual Income (k$)"]==15) & (df["Gender"]=="Male")]
y[["Annual Income (k$)","Spending Score(1-100)"]]

   Annual Income (k$)  Spending Score(1-100)
0                  15                     39
1                  15                     81

In [ ]:
# display person with age >30 and spending score <40

z=df.loc[(df["Age"]>30) & (df["Spending Score(1-100)"]<40)]
z["CustomerID"]

# df.loc[(df["Age"]>30) & (df["Spending Score(1-100)"]<40)].iloc[:,1:2]

6        7
8        9
10      11
12      13
14      15
16      17
18      19
20      21
22      23
24      25
26      27
28      29
30      31
32      33
34      35
36      37
38      39
40      41
42      43
44      45
126    127
128    129
130    131
136    137
140    141
146    147
148    149
150    151
152    153
154    155
156    157
158    159
160    161
164    165
166    167
168    169
170    171
172    173
174    175
176    177
178    179
180    181
182    183
184    185
186    187
188    189
190    191
192    193
194    195
196    197
198    199
Name: CustomerID, dtype: int64

In [ ]:
# for or a single vertical line is used " | "

df.loc[(df["Age"]>21) | (df["Gender"]=="Male")]

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score(1-100)
0             1    Male   19                  15                     39
1             2    Male   21                  15                     81
3             4  Female   23                  16                     77
4             5  Female   31                  17                     40
5             6  Female   22                  17                     76
..          ...     ...  ...                 ...                    ...
195         196  Female   35                 120                     79
196         197  Female   45                 126                     28
197         198    Male   32                 126                     74
198         199    Male   32                 137                     18
199         200    Male   30                 137                     83

[191 rows x 5 columns]

In [ ]:
df=pd.read_csv("/content/Latest Football  Players 2024 Data.csv")
df

,Teams,Seasons,Players,Matches,Goals,Assists,Seasons Ratings
0,InterMiami,2024,Lionel Messi,15,14,11,8.5
1,InterMiami,2023,Lionel Messi,14,11,5,8.0
2,PSG,2022/2023,Lionel Messi,41,21,20,8.1
3,PSG,2021/2022,Lionel Messi,34,11,14,7.9
4,Barcelona,2020/2021,Lionel Messi,47,38,12,8.4
...,...,...,...,...,...,...,...
1211,Real Sociedad,2020/2021,Mikel Oyarzabal,43,13,10,7.1
1212,Real Sociedad,2019/2020,Mikel Oyarzabal,45,13,13,7.1
1213,Real Sociedad,2018/2019,Mikel Oyarzabal,41,14,2,6.7
1214,Real Sociedad,2017/2018,Mikel Oyarzabal,43,14,6,7.0
1215,Real Sociedad,2016/2017,Mikel Oyarzabal,43,4,8,6.6

In [ ]:
# rename
# used to rename a column or more than one column in a df
df.rename(columns={"Genre":"Gender"})

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [ ]:
# inplace
# used when we want the changes to reflect to the df
df.rename(columns={"Genre":"Gender"},inplace=True)
df

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [ ]:
# sorting the df
# sort_values

df.sort_values(by="Age",ascending=True)

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
33           34    Male   18                  33                      92
114         115  Female   18                  65                      48
91           92    Male   18                  59                      41
65           66    Male   18                  48                      59
68           69    Male   19                  48                      59
..          ...     ...  ...                 ...                     ...
67           68  Female   68                  48                      48
108         109    Male   68                  63                      43
57           58    Male   69                  44                      46
70           71    Male   70                  49                      55
60           61    Male   70                  46                      56

[200 rows x 5 columns]

In [ ]:
df.sort_values(by="Age",ascending=True).tail(1)[["Gender","Age"]]

   Gender  Age
60   Male   70

In [ ]:
# age 30 highest spending score gender

y=df.loc[df["Age"]==30][["Spending Score (1-100)","Gender","Age"]]

     Spending Score (1-100)  Gender  Age
9                        72  Female   30
37                       73  Female   30
157                      78  Female   30
159                      73  Female   30
175                      86  Female   30
185                      97    Male   30
199                      83    Male   30

In [ ]:
y.sort_values(by="Spending Score (1-100)",ascending=True).tail(1)

     Spending Score (1-100) Gender  Age
185                      97   Male   30

In [ ]:
# above problem but in a single line
df.loc[df["Age"]==30][["Spending Score (1-100)","Gender","Age"]].sort_values(by="Spending Score (1-100)",ascending=True).tail(1)

     Spending Score (1-100) Gender  Age
185                      97   Male   30

In [ ]:
# annual income 120 highest spending score 5 people with annual income and age
df.loc[df["Annual Income (k$)"]==120][["Age","Annual Income (k$)","Spending Score (1-100)"]].sort_values(by="Annual Income (k$)",ascending=True).tail(5)

     Age  Annual Income (k$)  Spending Score (1-100)
194   47                 120                      16
195   35                 120                      79

In [ ]:
df=pd.read_csv("/content/netflix_titles.csv")

In [ ]:
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [ ]:
# used to check the values in a column
# value_counts
df["type"].value_counts()

type
Movie      6131
TV Show    2676
Name: count, dtype: int64

In [ ]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [ ]:
# print the details of the netflixtitles with duration 1 season and rating is TV-MA
df.loc[(df['duration']=="1 Season") & (df['rating']=="TV-MA")]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...
10,s11,TV Show,"Vendetta: Truth, Lies and The Mafia",NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...","Sicily boasts a bold ""Anti-Mafia"" coalition. B..."
11,s12,TV Show,Bangkok Breaking,Kongkiat Komesiri,"Sukollawat Kanarot, Sushar Manaying, Pavarit M...",NaN,"September 23, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...","Struggling to earn a living in Bangkok, a man ..."
...,...,...,...,...,...,...,...,...,...,...,...,...
8560,s8561,TV Show,The Womanizer,NaN,"Lan Cheng-lung, Sonia Sui, James Wen, Bianca B...",China,"September 1, 2016",2010,TV-MA,1 Season,"International TV Shows, Romantic TV Shows, TV ...",Libertine He-jie finds himself torn between th...
8609,s8610,TV Show,Towies,NaN,NaN,NaN,"December 27, 2017",2016,TV-MA,1 Season,"International TV Shows, Reality TV",Australia's toughest tow truck operators work ...
8633,s8634,TV Show,Trotsky,NaN,"Konstantin Khabenskiy, Olga Sutulova, Max Matv...",Russia,"December 10, 2018",2017,TV-MA,1 Season,"International TV Shows, TV Dramas",The complex historical figure of Leon Trotsky ...
8700,s8701,TV Show,Wartime Portraits,NaN,NaN,Poland,"September 15, 2016",2014,TV-MA,1 Season,"Docuseries, International TV Shows","Part live-action and part animation, this visu..."
8749,s8750,TV Show,Winter Sun,NaN,"kr zyldz, Asl Enver, enay Grler, Baa...",Turkey,"August 1, 2017",2014,TV-MA,1 Season,"International TV Shows, TV Dramas, TV Thrillers",Years after ruthless businessmen kill his fath...

In [ ]:
# print the details of the netflixtitles with latest releases
df.loc[df['release_year']==2021]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...
...,...,...,...,...,...,...,...,...,...,...,...,...
1468,s1469,Movie,What Happened to Mr. Cha?,Kim Dong-kyu,"Cha In-pyo, Cho Dal-hwan, Song Jae-ryong",South Korea,"January 1, 2021",2021,TV-MA,102 min,"Comedies, International Movies","With the peak of his career long behind him, a..."
1551,s1552,TV Show,Hilda,NaN,"Bella Ramsey, Ameerah Falzon-Ojo, Oliver Nelso...","United Kingdom, Canada, United States","December 14, 2020",2021,TV-Y7,2 Seasons,Kids' TV,"Fearless, free-spirited Hilda finds new friend..."
1696,s1697,TV Show,Polly Pocket,NaN,"Emily Tennant, Shannon Chan-Kent, Kazumi Evans...","Canada, United States, Ireland","November 15, 2020",2021,TV-Y,2 Seasons,Kids' TV,After uncovering a magical locket that allows ...
2920,s2921,TV Show,Love Is Blind,NaN,"Nick Lachey, Vanessa Lachey",United States,"February 13, 2020",2021,TV-MA,1 Season,"Reality TV, Romantic TV Shows",Nick and Vanessa Lachey host this social exper...
8437,s8438,TV Show,The Netflix Afterparty,NaN,"David Spade, London Hughes, Fortune Feimster",United States,"January 2, 2021",2021,TV-MA,1 Season,"Stand-Up Comedy & Talk Shows, TV Comedies","Hosts David Spade, Fortune Feimster and London..."

In [ ]:
# print the details of the netflixtitles with oldest release
df.sort_values(by='release_year',ascending=True).head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
4250,s4251,TV Show,Pioneers: First Women Filmmakers*,NaN,NaN,NaN,"December 30, 2018",1925,TV-14,1 Season,TV Shows,This collection restores films from women who ...

In [ ]:
# find latest released movie with julien leclercq as director
df.loc[(df['director']=="Julien Leclercq")].sort_values(by='release_year',ascending=True).tail(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1236,s1237,Movie,Sentinelle,Julien Leclercq,"Olga Kurylenko, Marilyn Lima, Michel Nabokoff,...",France,"March 5, 2021",2021,TV-MA,81 min,"Action & Adventure, Dramas, International Movies",Transferred home after a traumatizing combat m...

In [ ]:
# print the show_id and type of the netflix title whose release date is less than 2020
df.loc[df['release_year']<2020][["show_id","type"]]

     show_id     type
7         s8    Movie
21       s22  TV Show
22       s23    Movie
24       s25    Movie
26       s27    Movie
...      ...      ...
8802   s8803    Movie
8803   s8804  TV Show
8804   s8805    Movie
8805   s8806    Movie
8806   s8807    Movie

[7262 rows x 2 columns]

In [ ]:
# find oldest released movie with movie type
df.sort_values(by='release_year',ascending=True).head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
4250,s4251,TV Show,Pioneers: First Women Filmmakers*,NaN,NaN,NaN,"December 30, 2018",1925,TV-14,1 Season,TV Shows,This collection restores films from women who ...

In [ ]:
# find oldest released movie with movie type with country south africa and title blood and water
df.loc[(df['country']=='South Africa') & (df['title']=='Blood & Water')].sort_values(by='release_year',ascending=True).head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."

In [ ]:
# find the show id and type of netflixtitle of latest released show with duration 2 seasons which is a TV SHOW

In [ ]:
df.loc[(df['duration']=='2 Seasons') & (df['type']=='TV Show')][['show_id','type','release_year']].sort_values(by='release_year',ascending=False).head(1)

    show_id     type  release_year
276    s277  TV Show          2021

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/Anime.csv")

In [ ]:
df.head()

,Rank,Name,Japanese_name,Type,Episodes,Studio,Release_season,Tags,Rating,Release_year,End_year,Description,Content_Warning,Related_Mange,Related_anime,Voice_actors,staff
0,1,Demon Slayer: Kimetsu no Yaiba - Entertainment...,Kimetsu no Yaiba: Yuukaku-hen,TV,NaN,ufotable,Fall,"Action, Adventure, Fantasy, Shounen, Demons, H...",4.60,2021.0,NaN,'Tanjiro and his friends accompany the Hashira...,Explicit Violence,Demon Slayer: Kimetsu no Yaiba,"Demon Slayer: Kimetsu no Yaiba, Demon Slayer: ...","Inosuke Hashibira : Yoshitsugu Matsuoka, Nezuk...","Koyoharu Gotouge : Original Creator, Haruo Sot..."
1,2,Fruits Basket the Final Season,Fruits Basket the Final,TV,13.0,TMS Entertainment,Spring,"Drama, Fantasy, Romance, Shoujo, Animal Transf...",4.60,2021.0,NaN,'The final arc of Fruits Basket.',"Emotional Abuse,, Mature Themes,, Physical Abu...","Fruits Basket, Fruits Basket Another","Fruits Basket 1st Season, Fruits Basket 2nd Se...","Akito Sohma : Maaya Sakamoto, Kyo Sohma : Yuum...","Natsuki Takaya : Original Creator, Yoshihide I..."
2,3,Mo Dao Zu Shi 3,The Founder of Diabolism 3,Web,12.0,B.C MAY PICTURES,NaN,"Fantasy, Ancient China, Chinese Animation, Cul...",4.58,2021.0,NaN,'The third season of Mo Dao Zu Shi.',NaN,Grandmaster of Demonic Cultivation: Mo Dao Zu ...,"Mo Dao Zu Shi 2, Mo Dao Zu Shi Q","Lan Wangji, Wei Wuxian, Jiang Cheng, Jin Guang...","Mo Xiang Tong Xiu : Original Creator, Xiong Ke..."
3,4,Fullmetal Alchemist: Brotherhood,Hagane no Renkinjutsushi: Full Metal Alchemist,TV,64.0,Bones,Spring,"Action, Adventure, Drama, Fantasy, Mystery, Sh...",4.58,2009.0,2010.0,"""The foundation of alchemy is based on the law...","Animal Abuse,, Mature Themes,, Violence,, Dome...","Fullmetal Alchemist, Fullmetal Alchemist (Ligh...","Fullmetal Alchemist: Brotherhood Specials, Ful...","Alphonse Elric : Rie Kugimiya, Edward Elric : ...","Hiromu Arakawa : Original Creator, Yasuhiro Ir..."
4,5,Attack on Titan 3rd Season: Part II,Shingeki no Kyojin Season 3: Part II,TV,10.0,WIT Studio,Spring,"Action, Fantasy, Horror, Shounen, Dark Fantasy...",4.57,2019.0,NaN,'The battle to retake Wall Maria begins now! W...,"Cannibalism,, Explicit Violence","Attack on Titan, Attack on Titan: End of the W...","Attack on Titan, Attack on Titan 2nd Season, A...","Armin Arlelt : Marina Inoue, Eren Jaeger : Yuu...","Hajime Isayama : Original Creator, Tetsurou Ar..."

In [ ]:
df.describe()

              Rank     Episodes        Rating  Release_year     End_year
count  18495.00000  9501.000000  15364.000000  18112.000000  2854.000000
mean    9248.00000    20.920850      3.355133   2006.520318  2004.256132
std     5339.19095    37.990858      0.400624     15.189537    13.257484
min        1.00000     1.000000      0.960000   1907.000000  1962.000000
25%     4624.50000     2.000000      3.130000   2001.000000  1996.000000
50%     9248.00000    12.000000      3.360000   2012.000000  2007.000000
75%    13871.50000    26.000000      3.590000   2017.000000  2015.000000
max    18495.00000   800.000000      4.600000   2023.000000  2022.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18495 entries, 0 to 18494
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rank             18495 non-null  int64
 1   Name             18495 non-null  object
 2   Japanese_name    7938 non-null   object
 3   Type             18495 non-null  object
 4   Episodes         9501 non-null   float64
 5   Studio           12018 non-null  object
 6   Release_season   4116 non-null   object
 7   Tags             18095 non-null  object
 8   Rating           15364 non-null  float64
 9   Release_year     18112 non-null  float64
 10  End_year         2854 non-null   float64
 11  Description      18491 non-null  object
 12  Content_Warning  1840 non-null   object
 13  Related_Mange    7627 non-null   object
 14  Related_anime    10063 non-null  object
 15  Voice_actors     15309 non-null  object
 16  staff            13005 non-null  object
dtypes: float64(4), int64(1), object(12)
memory usage: 2.4+ MB

In [ ]:
df.isna().sum()

Rank                   0
Name                   0
Japanese_name      10557
Type                   0
Episodes            8994
Studio              6477
Release_season     14379
Tags                 400
Rating              3131
Release_year         383
End_year           15641
Description            4
Content_Warning    16655
Related_Mange      10868
Related_anime       8432
Voice_actors        3186
staff               5490
dtype: int64

In [ ]:
df.isnull()

,Rank,Name,Japanese_name,Type,Episodes,Studio,Release_season,Tags,Rating,Release_year,End_year,Description,Content_Warning,Related_Mange,Related_anime,Voice_actors,staff
0,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
2,False,False,False,False,False,False,True,False,False,False,True,False,True,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18490,False,False,True,False,False,False,True,False,True,False,True,False,True,True,False,True,True
18491,False,False,True,False,False,True,True,False,True,False,True,False,True,True,True,True,True
18492,False,False,True,False,False,True,True,False,True,False,True,False,True,True,True,True,True
18493,False,False,True,False,True,True,True,False,True,False,True,False,True,True,True,True,True
18494,False,False,True,False,True,False,True,False,True,False,True,False,True,True,False,True,True

In [ ]:
# delete a column
df.drop(['Rank'],axis=1,inplace=True)

In [ ]:
df.head()

,Name,Japanese_name,Type,Episodes,Studio,Release_season,Tags,Rating,Release_year,End_year,Description,Content_Warning,Related_Mange,Related_anime,Voice_actors,staff
0,Demon Slayer: Kimetsu no Yaiba - Entertainment...,Kimetsu no Yaiba: Yuukaku-hen,TV,NaN,ufotable,Fall,"Action, Adventure, Fantasy, Shounen, Demons, H...",4.60,2021.0,NaN,'Tanjiro and his friends accompany the Hashira...,Explicit Violence,Demon Slayer: Kimetsu no Yaiba,"Demon Slayer: Kimetsu no Yaiba, Demon Slayer: ...","Inosuke Hashibira : Yoshitsugu Matsuoka, Nezuk...","Koyoharu Gotouge : Original Creator, Haruo Sot..."
1,Fruits Basket the Final Season,Fruits Basket the Final,TV,13.0,TMS Entertainment,Spring,"Drama, Fantasy, Romance, Shoujo, Animal Transf...",4.60,2021.0,NaN,'The final arc of Fruits Basket.',"Emotional Abuse,, Mature Themes,, Physical Abu...","Fruits Basket, Fruits Basket Another","Fruits Basket 1st Season, Fruits Basket 2nd Se...","Akito Sohma : Maaya Sakamoto, Kyo Sohma : Yuum...","Natsuki Takaya : Original Creator, Yoshihide I..."
2,Mo Dao Zu Shi 3,The Founder of Diabolism 3,Web,12.0,B.C MAY PICTURES,NaN,"Fantasy, Ancient China, Chinese Animation, Cul...",4.58,2021.0,NaN,'The third season of Mo Dao Zu Shi.',NaN,Grandmaster of Demonic Cultivation: Mo Dao Zu ...,"Mo Dao Zu Shi 2, Mo Dao Zu Shi Q","Lan Wangji, Wei Wuxian, Jiang Cheng, Jin Guang...","Mo Xiang Tong Xiu : Original Creator, Xiong Ke..."
3,Fullmetal Alchemist: Brotherhood,Hagane no Renkinjutsushi: Full Metal Alchemist,TV,64.0,Bones,Spring,"Action, Adventure, Drama, Fantasy, Mystery, Sh...",4.58,2009.0,2010.0,"""The foundation of alchemy is based on the law...","Animal Abuse,, Mature Themes,, Violence,, Dome...","Fullmetal Alchemist, Fullmetal Alchemist (Ligh...","Fullmetal Alchemist: Brotherhood Specials, Ful...","Alphonse Elric : Rie Kugimiya, Edward Elric : ...","Hiromu Arakawa : Original Creator, Yasuhiro Ir..."
4,Attack on Titan 3rd Season: Part II,Shingeki no Kyojin Season 3: Part II,TV,10.0,WIT Studio,Spring,"Action, Fantasy, Horror, Shounen, Dark Fantasy...",4.57,2019.0,NaN,'The battle to retake Wall Maria begins now! W...,"Cannibalism,, Explicit Violence","Attack on Titan, Attack on Titan: End of the W...","Attack on Titan, Attack on Titan 2nd Season, A...","Armin Arlelt : Marina Inoue, Eren Jaeger : Yuu...","Hajime Isayama : Original Creator, Tetsurou Ar..."

In [ ]:
# used to delete rows with missing values(too many)
df.dropna(inplace=True)

In [ ]:
df.isna().sum()

Name               0
Japanese_name      0
Type               0
Episodes           0
Studio             0
Release_season     0
Tags               0
Rating             0
Release_year       0
End_year           0
Description        0
Content_Warning    0
Related_Mange      0
Related_anime      0
Voice_actors       0
staff              0
dtype: int64

In [ ]:
# statistical methods to fill NaN values

# mean
# fill NaN values with mean
# sum of values/no. of values

In [ ]:
# median
# mean has a disadvantage - outlier values impact the mean value greatly say 1,2,4,5,100,1,3,4 - mean is 50

# median is the middle value of a sorted series

In [ ]:
# mode
# replace with the most occurinng value
# when more than 1 value occurs equal no. of times - we replace with index of the list which contains all those values

In [ ]:
df

,Name,Japanese_name,Type,Episodes,Studio,Release_season,Tags,Rating,Release_year,End_year,Description,Content_Warning,Related_Mange,Related_anime,Voice_actors,staff
3,Fullmetal Alchemist: Brotherhood,Hagane no Renkinjutsushi: Full Metal Alchemist,TV,64.0,Bones,Spring,"Action, Adventure, Drama, Fantasy, Mystery, Sh...",4.58,2009.0,2010.0,"""The foundation of alchemy is based on the law...","Animal Abuse,, Mature Themes,, Violence,, Dome...","Fullmetal Alchemist, Fullmetal Alchemist (Ligh...","Fullmetal Alchemist: Brotherhood Specials, Ful...","Alphonse Elric : Rie Kugimiya, Edward Elric : ...","Hiromu Arakawa : Original Creator, Yasuhiro Ir..."
7,Attack on Titan The Final Season,Shingeki no Kyojin The Final Season,TV,16.0,MAPPA,Winter,"Action, Drama, Fantasy, Horror, Shounen, Dark ...",4.55,2020.0,2021.0,"""It's been four years since the Scout Regiment...","Explicit Violence,, Mature Themes,, Physical A...",Attack on Titan,"Attack on Titan, Attack on Titan 2nd Season, A...","Eren Jaeger : Yuuki Kaji, Armin Arlelt : Marin...","Hajime Isayama : Original Creator, Jun Shishid..."
51,JoJo's Bizarre Adventure: Golden Wind,JoJo no Kimyou na Bouken: Ougon no Kaze,TV,39.0,David Production,Fall,"Action, Adventure, Shounen, Europe, Italy, Sup...",4.43,2018.0,2019.0,'Giorno Giovanna is a young man that lives in ...,"Animal Abuse,, Mature Themes",JoJo's Bizarre Adventure Part 1: Phantom Blood...,"JoJo's Bizarre Adventure, JoJo's Bizarre Adven...","Bruno Bucciarati : Yuuichi Nakamura, Giorno Gi...","Hirohiko Araki : Original Creator, Naokatsu Ts..."
59,That Time I Got Reincarnated as a Slime,Tensei Shitara Slime Datta Ken,TV,24.0,8-Bit,Fall,"Action, Adventure, Comedy, Fantasy, Shounen, C...",4.39,2018.0,2019.0,'Lonely thirty-seven-year-old Satoru Mikami is...,Violence,That Time I Got Reincarnated as a Slime (Light...,That Time I Got Reincarnated as a Slime: Veldo...,"Rimuru Tempest : Takuma Terashima, Alice Rondo...","Fuse : Original Creator, Mitz Vah : Original C..."
64,Code Geass: Lelouch of the Rebellion,Code Geass: Hangyaku no Lelouch,TV,25.0,Sunrise,Fall,"Mecha, Sci Fi, Conspiracy, Mind Games, Overpow...",4.38,2006.0,2007.0,"'In 2010, the Britannian Empire enslaved Japan...","Nudity,, Violence","Code Geass: Lelouch of the Rebellion, Code Gea...","Code Geass: Dakkan no Z, Code Geass: Lelouch o...","C.C. : Yukana, Kallen Stadtfeld : Ami Koshimiz...",Gorou Taniguchi : Director & Op Director & Ori...
75,March Comes in like a Lion 2nd Season,3-gatsu no Lion 2nd Season,TV,22.0,SHAFT,Fall,"Drama, Seinen, Slice of Life, Board Games, Mel...",4.36,2017.0,2018.0,"""Rei continues to\xa0work hard at improving hi...","Bullying,, Emotional Abuse","March Comes in Like a Lion, March Comes in Lik...","3-gatsu no Lion meets Bump of Chicken, March C...","Akari Kawamoto : Ai Kayano, Hinata Kawamoto : ...","Chica Umino : Original Creator, Kenjirou Okada..."
110,My Hero Academia 4,Boku no Hero Academia 4,TV,25.0,Bones,Fall,"Action, Drama, Sci Fi, Shounen, Superheroes, S...",4.34,2019.0,2020.0,'The villain world teeters on the brink of war...,"Emotional Abuse,, Mature Themes,, Physical Abu...","My Hero Academia, My Hero Academia Movie: Two ...","My Hero Academia 3, My Hero Academia 5","Izuku Midoriya : Daiki Yamashita, Eijiro Kiris...","Kouhei Horikoshi : Original Creator, Kenji Nag..."
113,Your lie in April,Shigatsu wa Kimi no Uso,TV,22.0,A-1 Pictures,Fall,"Drama, Romance, Shounen, Classical Music, Illn...",4.33,2014.0,2015.0,"""Kousei Arima was a genius pianist until his m...","Mature Themes,, Physical Abuse,, Domestic Abuse","Your Lie in April, Your Lie in April: A Six-Pe...",Your lie in April: Moments,"Kaori Miyazono : Risa Taneda, Kousei Arima : N...","Naoshi Arakawa : Original Creator, Kyouhei Ish..."
270,The Ancient Magus' Bride,Mahoutsukai no Yome,TV,24.0,WIT Studio,Fall,"Drama, Fantasy, Romance, Apprenticeship, Conte...",4.22,2017.0,2018.0,'Chise Hitori was a child nobody wanted. Told ...,"Animal Abuse,, Mature Themes,, Physical Abuse,...","The Ancient Magus' Bride, The Ancient Magus B...",The Ancient Magus' Bride: Those Awaiting a Sta...,"Chise Hatori : Atsumi Tanezaki, Elias Ainswort...","Kore Yamazaki : Original Creator, Norihiro Nag..."
273,Fullmetal Alchemist,Hagane no Renkinjutsushi,TV,51.0,Bones,Fall,"Action, Adventure, Drama, Fantasy, Mystery, Sh...",4.22,2003.0,2004.0,"""Once upon a time, two brothers passed the hap...","Animal Abuse,, Mature Themes,, Violence,, Dome...","Fullmetal Alchemist, Fullmetal Alchemist (Ligh...","Fullmetal Alchemist: Reflections, Fullmetal Al...","Alphonse Elric : Rie Kugimiya, Edward Elric : ...","Hiromu Arakawa : Original Creator, Seiji Mizus..."
356,The Seven Deadly Sins,Nanatsu no Taizai,TV,24.0,A-1 Pictures,Fall,"Action, Adventure, Fantasy, Shounen, Demons, M...",4.17,2014.0,2015.0,"""The kingdom of Liones is thrown into turmoil ...","Animal Abuse,, Mature Themes,, Violence","The Seven Stories, The Seven Deadly Sins: Orig...","The Seven Deadly Sins OVA, The Seven Deadly Si...","Ban : Tatsuhisa Suzuki, Diane : Aoi Yuuki, Eli...","Nakaba Suzuki : Original Creator, Tensai Okamu..."
480,Berserk,Kenpuu Denki Berserk,TV,25.0,OLM,Fall,"Action, Fantasy, Seinen, Dark Fantasy, Demons,...",4.13,1997.0,1998.0,'Born beneath the gallows tree from which his ...,"Explicit Sex,, Explicit Violence,, Mature Them...","Berserk (Pilot), Berserk, Berserk: Shinen no K...",Berserk: Golden Age Arc I - The Egg of the Kin...,"Casca : Yuuko Miyamura, Griffith : Toshiyuki M...","Kentaro Miura : Original Creator, Naohito Taka..."
522,JoJo's Bizarre Adventure (2012),JoJo no Kimyou na Bouken (2012),TV,26.0,David Production,Fall,"Action, Shounen, Hand to Hand Combat, Supernat...",4.11,2012.0,2013.0,"""When Jonathan Joestar was just a baby, his mo...","Animal Abuse,, Explicit Violence,, Mature Themes",JoJo's Bizarre Adventure Part 1: Phantom Blood...,"JoJo's Bizarre Adventure, JoJo's Bizarre Adven...","Caesar Zeppeli : Takuya Satou, Dio Brando : Ta...","Hirohiko Araki : Original Creator, Kenichi Suz..."
715,Black Butler,Kuroshitsuji,TV,24.0,A-1 Pictures,Fall,"Shounen, 19th Century, Butlers, Deal with the ...",4.05,2008.0,2009.0,'In Victorian England it is commonplace for th...,"Animal Abuse,, Mature Themes","Black Butler, Black Butler Anthology Comic","Black Butler Recap, Black Butler: His Butler, ...","Ciel Phantomhive : Maaya Sakamoto, Sebastian M...","Yana Toboso : Original Creator, Toshiya Shinoh..."
756,Kaiji - Ultimate Survivor,Gyakkyou Burai Kaiji: Ultimate Survivor,TV,26.0,MADHOUSE,Fall,"Seinen, Debt, Gambling, High Stakes Games, Min...",4.04,2007.0,2008.0,'Kaiji Ito is as pathetic a person as they com...,"Mature Themes,, Physical Abuse","Gambling Apocalypse Kaiji, Tobaku Hakairoku Ka...","Kaiji - Against All Rules, Mr. Tonegawa: Middl...","Kaiji Ito : Masato Hagiwara, Andou Mamoru : To...","Nobuyuki Fukumoto : Original Creator, Yuuzou S..."
758,Neon Genesis Evangelion,Shinseiki Evangelion,TV,26.0,GAINAX,Fall,"Drama, Mecha, Sci Fi, Conspiracy, Kaijuu, Lone...",4.04,1995.0,1996.0,"""In the future, a devastating event known as S...","Emotional Abuse,, Explicit Violence,, Mature T...","Neon Genesis Evangelion, Neon Genesis Evangeli...","Neon Genesis Evangelion: Death and Rebirth, Pe...","Asuka Langley Soryu : Yuuko Miyamura, Misato K...",Hideaki Anno : Director & Key Animator & Mecha...
777,D.Gray-man,D. Gray-man,TV,103.0,TMS Entertainment,Fall,"Action, Adventure, Shounen, Afterlife, Demons,...",4.03,2006.0,2008.0,'An akuma is a soul which has been brought bac...,"Animal Abuse,, Mature Themes,, Violence","Zone, D.Gray-Man, D.Gray-Man Reverse (Light No...",D.Gray-man Hallow,"Allen Walker : Sanae Kobayashi, Lavi : Kenichi...","Katsura Hoshino : Original Creator, Osamu Nabe..."
948,Eureka Seven,Koukyoushihen Eureka Seven,TV,50.0,Bones,Spring,"Action, Adventure, Mecha, Romance, Sci Fi, Com...",3.98,2005.0,2006.0,"'Like most boys his age, the young Renton thin...",Violence,"Eureka Seven: Gravity Boys & Lifting Girl, Eur...","Eureka Seven: Navigation ray=out, Eureka Seven...","Eureka : Kaori Nazuka, Holland Novak : Keiji F...","Tomoki Kyoda : Director, Dai Satou : Series Co..."
995,Future Diary,Mirai Nikki,TV,26.0,asread,Fall,"Action, Shounen, Battle Royale, High Stakes Ga...",3.97,2011.0,2012.0,"""Yuki is\xa0a disaffected middle school boy wh...","Explicit Violence,, Mature Themes,, Nudity,, S...","Future Diary, Future Diary: Mosaic, Future Dia...","Future Diary OVA, Future Diary: Ura Mirai Nikk...","Yukiteru Amano : Misuzu Togashi, Yuno Gasai : ...","Sakae Esuno : Original Creator, Naoto Hosoda :..."
1052,Fate/Grand Order: Absolute Demonic Front - Bab...,Fate/Grand Order: Zettai Majuu Sensen Babylonia,TV,21.0,CloverWorks,Fall,"Action, Fantasy, Sci Fi, Gods, Greek Mythology...",3.96,2019.0,2020.0,'2017 AD. Researchers and scholars of both Mag...,Violence,"Oshiete FGO! Ijin to Shinwa no Grand Order, Fa...","Fate/Grand Order: First Order, Fate/Grand Orde...","Mash Kyrielight : Rie Takahashi, Ritsuka Fujim...","Toshifumi Akai : Director, Ryou Kawasaki : Mus..."
1069,Hell Girl: Two Mirrors,Jigoku Shoujo Futakomori,TV,26.0,Studio DEEN,Fall,"Horror, Deal with the Devil, Episodic, Melanch...",3.95,2006.0,2007.0,"'Enma Ai seems like an ordinary girl, but in r...","Bullying,, Emotional Abuse","Hell Girl, Shin Jigoku Shoujo, Hell Girl R","Hell Girl, Hell Girl: Three Vessels, Hell Girl...","Ai Enma : Mamiko Noto, Hone Onna : Takako Hond...","Takahiro Oomori : Director, Yasuharu Takanashi..."
1179,Mobile Suit Gundam SEED,Kidou Senshi Gundam SEED,TV,50.0,Sunrise,Fall,"Action, Drama, Mecha, Sci Fi, Outer Space, Rea...",3.93,2002.0,2003.0,"""The universe of the future is divided between...",Sexual Content,"Mobile Suit Gundam: Awakening, Escalation, Con...","Mobile Suit Gundam SEED PROJECT Ignited, Mobil...","Athrun Zala : Akira Ishida, Cagalli Yula Athha...","Mitsuo Fukuda : Director, Toshihiko Sahashi : ..."
1303,Mobile Suit Gundam: Thunderbolt,Kidou Senshi Gundam: Thunderbolt,Web,4.0,Sunrise,Fall,"Action, Mecha, Sci Fi, Seinen, Military, Psych...",3.91,2015.0,2016.0,"'During the One Year War of U.C. 0079, the Ear...","Drug Use,, Mature Themes,, Violence","Mobile Suit Gundam: Awakening, Escalation, Con...","Mobile Suit Zeta Gundam, Mobile Suit Gundam ZZ...","Daryl Lorenz : Ryouhei Kimura, Io Fleming : Yu...","Kou Matsuo : Director, Naruyoshi Kikuchi : Mus..."
1553,A Certain Magical Index,Toaru Majutsu no Index,TV,24.0,J.C.Staff,Fall,"Action, Sci Fi, Magic, Supernatural, Superpowe...",3.86,2008.0,2009.0,'Touma Kamijou\'s right hand has the ability t...,Explicit Violence,"A Certain Magical Index (Light Novel), A Certa...","A Certain Magical Index-tan, A Certain Scienti...","Index : Yuka Iguchi, Touma Kamijou : Atsushi A...","Hiroshi Nishikiori : Director, Maiko Iuchi : M..."
1618,Hell Girl: Three Vessels,Jigoku Shoujo Mitsuganae,TV,26.0,Studio DEEN,Fall,"Horror, Body Sharing, Deal with the Devil, Epi...",3.85,2008.0,2009.0,"""Since the Hell Girl's supposed disappearance,...","Bullying,, Emotional Abuse","Hell Girl, Shin Jigoku Shoujo, Hell Girl R","Hell Girl, Hell Girl: Two Mirrors, Hell Girl: ...","Ai Enma : Mamiko Noto, Hone Onna : Takako Hon...","Hiroshi Watanabe : Director, Yasuharu Takanash..."
2122,Read Or Die TV,R.O.D. the TV,TV,26.0,J.C.Staff,Fall,"Action, Sci Fi, Superpowers, Based on a Light ...",3.77,2003.0,2004.0,"""Nenene Sumiregawa is an author who hasn't pub...",Nudity,"R.O.D: Read or Die, R.O.D - Read or Die (Light...",Read or Die,"Anita King : Chiwa Saitou, Maggie Mui : Hiromi...","Hideyuki Kurata : Original Creator, Kouji Masu..."
2403,Hell Girl,Jigoku Shoujo,TV,26.0,Studio DEEN,Fall,"Horror, Deal with the Devil, Episodic, Melanch...",3.74,2005.0,2006.0,'Has someone done something to hurt you or the...,"Animal Abuse,, Bullying,, Emotional Abuse,, Ma...","Hell Girl, Shin Jigoku Shoujo, Hell Girl R","Hell Girl: Two Mirrors, Hell Girl: Three Vesse...","Ai Enma : Mamiko Noto, Hone Onna : Takako Hond...","Takahiro Oomori : Director, Yasuharu Takanashi..."
2778,Blade of the Immortal (2019),Mugen no Juunin: Immortal,Web,24.0,LIDEN FILMS,Fall,"Action, Seinen, Feudal Japan, Revenge, Swordpl...",3.69,2019.0,2020.0,"'Manji, the Slayer of Hundreds, has been curse...","Animal Abuse,, Explicit Violence,, Mature Them...",Blade of the Immortal,Blade of the Immortal,"Manji : Kenjirou Tsuda, Rin Asano : Ayane Saku...","Hiroaki Samura : Original Creator, Hiroshi Ham..."
2885,Higurashi: When They Cry - Gou,Higurashi no Naku Koro ni Gou,TV,24.0,Passione,Fall,"Horror, Mystery, Countryside, Curse, Psycholog...",3.68,2020.0,2021.0,'New kid Keiichi Maebara is settling into his ...,"Emotional Abuse,, Explicit Violence,, Mature T...",Higurashi When They Cry: Gou,"When They Cry: Higurashi, When They Cry: Kai, ...","Keiichi Maebara : Souichirou Hoshi, Mion Sonoz...","Keiichirou Kawaguchi : Director, Kenji Kawai :..."
3138,Mahoromatic 2,Mahoromatic: Something More Beautiful,TV,14.0,GAINAX,Fall,"Comedy, Ecchi, Seinen, Androids, Maids, Non-Hu...",3.65,2002.0,2003.0,"""After fighting with her nemesis Ryuga, the Sa...",Nudity,Mahoromatic,"Mahoromatic: Year End Special, Mahoromatic, Ma...","Mahoro Andou : Ayako Kawasumi, Minawa Andou : ...","Bunjuro Nakayama : Original Creator, Hiroyuki ..."
3535,A Certain Magical Index III,Toaru Majutsu no Index III,TV,26.0,J.C.Staff,Fall,"Action, Drama, Sci Fi, Magic, Psychic Powers, ...",3.62,2018.0,2019.0,"""The stakes are higher than ever before. Acade...",Violence,"A Certain Magical Index (Light Novel), A Certa...","A Certain Magical Index, A Certain Magical Ind...","Index : Yuka Iguchi, Touma Kamijou : Atsushi A...","Hiroshi Nishikiori : Director, Maiko Iuchi : M..."
3761,Excel Saga,Heppoko Jikken Animation Excel Saga,TV,25.0,J.C.Staff,Fall,"Action, Comedy, Sci Fi, Seinen, Breaking the F...",3.60,1999.0,2000.0,"""F City, F Prefecture: the battleground where ...",Violence,Excel Saga,"Excel Saga: Going Too Far, Puni Puni Poemy","Excel : Kotono Mitsuishi, Hyatt : Omi Minami, ...","Koushi Rikudou : Original Creator, Shinichi Wa..."
6118,Zatch Bell!,Konjiki no Gash Bell!!,TV,150.0,Toei Animation,Spring,"Action, Comedy, Fantasy, Shounen, Demons, Elem...",3.44,2003.0,2006.0,'Takamine Kiyomaro is a junior high school stu...,Violence,"Zatch Bell!, Zatch Bell! Side Story: Friends","Shounen Sunday CM: Zatch Bell!, Zatch Bell Mov...","Kiyo Takamine : Takahiro Sakurai, Zatch Bell :...","Makoto Raiku : Original Creator, Tetsuji Nakam..."
7322,Canvas 2 ~Niji Iro no Sketch~,Canvas 2: Niji Iro no Sketch,TV,24.0,Zexcs,Fall,"Drama, Romance, Art, Art School, Love Triangle...",3.38,2005.0,2006.0,'After abandoning a promising future career as...,Sexual Content,Canvas 2: Nijiiro no Sketch,Canvas ~Motif of Sepia~,"Elis Housen : Kaori Nazuka, Hiroki Kamikura : ...",Itsurou Kawasaki : Director & Ed Director & Ep...
7349,Fist of the Blue Sky,Souten no Ken,TV,22.0,A.P.P.P.,Fall,"Action, Seinen, Martial Arts, Based on a Manga...",3.38,2006.0,2007.0,"""Kasumi Kenshiro, also known as Yan Wang or th...",Explicit Violence,"Fist of the North Star, Fist of the Blue Sky, ...","Fist of the North Star, Fist of the North Star...","Kenshiro Kasumi : Kouichi Yamadera, Aya Kitaoj...","Buronson : Original Creator, Yoshihiro Yamaguc..."
7914,Android Kikaider,Alt titles: Jinzou Ningen Kikaider the Animati...,TV,13.0,Studio OX,Fall,"Sci Fi, Shounen, Androids, Cyborgs, Non-Human ...",3.35,2000.0,2001.0,"""After a terrible accident occurred at the lab...",Violence,"Kikaider, Inazuman, Kikaider Code 02","Kikaider-01: The Animation, Guitar wo Motta Sh...","Jiro : Tomokazu Seki, Gill Herbert : Shinji Og...","Shotaro Ishinomori : Original Creator, Tensai ..."
8001,Sorcerer Hunters,Bakuretsu Hunter,TV,26.0,XEBEC,Fall,"Action, Adventure, Ecchi, Fantasy, Magic, Base...",3.34,1995.0,1996.0,"""The Sorcerer Hunters spend their days impriso...",Violence,Sorcerer Hunters,"Sorcerer Hunters OVA, Sorcerer On The Rocks","Carrot Glace : Shinnosuke Furumoto, Chocolate ...","Rei Omishi : Original Creator, Satoru Akahori ..."
11053,The Devil Lady,Devilman Lady,TV,26.0,TMS Entertainment,Fall,"Action, Seinen, Demons, Based on a Manga, Expl...",3.16,1998.0,1999.0,Ms. Jun Fudo used to be nothing more than a su...,Explicit Violence,"Devilman, Shin Devilman, Devil Lady, Amon: Dev...","Devilman, Mazinger Z, Devilman: The Birth, Dev...","Jun Fudou : Junko Iwao, Jason Bates : Ryuusei ...","Go Nagai : Original Creator, Toshihiro Hirano ..."
14616,Evil or Live,Lixiang Jinqu,TV,12.0,Haoliners Animation League,Fall,"Action, Chinese Animation, Prison, Psychologic...",2.69,2017.0,2018.0,"In this modern society, a new kind of ""illness...","Mature Themes,, Physical Abuse,, Sexual Abuse,...",Evil or Live,Evil or Live Recap,"Hibiki : Shinichirou Ueda, Shin : Kouki Uchiya...","Li Xiaonan : Original Creator, Yi Dong : Direc..."
15195,Ao Oni The Blue Monster,Ao Oni ~The Animation~,TV,13.0,Studio DEEN,Fall,"Comedy, Horror, Mystery, Chibi, Gag, Monsters,...",2.32,2016.0,2017.0,On the outskirts of town stands an abandoned h...,Violence,"Ao Oni (Light Novel), Ao Oni: Genshi-hen, Ao O...",Ao Oni The Animation Movie,"Hiroshi : Ryouta Oosaka, Mika : Eri Kitamura, ...","Chisei Maeda : Director, Toshirou Hamamura : D..."

In [ ]:
# used to reset the indices after dropping NaN values
df.reset_index(inplace=True)

In [ ]:
df.head()

,index,Name,Japanese_name,Type,Episodes,Studio,Release_season,Tags,Rating,Release_year,End_year,Description,Content_Warning,Related_Mange,Related_anime,Voice_actors,staff
0,3,Fullmetal Alchemist: Brotherhood,Hagane no Renkinjutsushi: Full Metal Alchemist,TV,64.0,Bones,Spring,"Action, Adventure, Drama, Fantasy, Mystery, Sh...",4.58,2009.0,2010.0,"""The foundation of alchemy is based on the law...","Animal Abuse,, Mature Themes,, Violence,, Dome...","Fullmetal Alchemist, Fullmetal Alchemist (Ligh...","Fullmetal Alchemist: Brotherhood Specials, Ful...","Alphonse Elric : Rie Kugimiya, Edward Elric : ...","Hiromu Arakawa : Original Creator, Yasuhiro Ir..."
1,7,Attack on Titan The Final Season,Shingeki no Kyojin The Final Season,TV,16.0,MAPPA,Winter,"Action, Drama, Fantasy, Horror, Shounen, Dark ...",4.55,2020.0,2021.0,"""It's been four years since the Scout Regiment...","Explicit Violence,, Mature Themes,, Physical A...",Attack on Titan,"Attack on Titan, Attack on Titan 2nd Season, A...","Eren Jaeger : Yuuki Kaji, Armin Arlelt : Marin...","Hajime Isayama : Original Creator, Jun Shishid..."
2,51,JoJo's Bizarre Adventure: Golden Wind,JoJo no Kimyou na Bouken: Ougon no Kaze,TV,39.0,David Production,Fall,"Action, Adventure, Shounen, Europe, Italy, Sup...",4.43,2018.0,2019.0,'Giorno Giovanna is a young man that lives in ...,"Animal Abuse,, Mature Themes",JoJo's Bizarre Adventure Part 1: Phantom Blood...,"JoJo's Bizarre Adventure, JoJo's Bizarre Adven...","Bruno Bucciarati : Yuuichi Nakamura, Giorno Gi...","Hirohiko Araki : Original Creator, Naokatsu Ts..."
3,59,That Time I Got Reincarnated as a Slime,Tensei Shitara Slime Datta Ken,TV,24.0,8-Bit,Fall,"Action, Adventure, Comedy, Fantasy, Shounen, C...",4.39,2018.0,2019.0,'Lonely thirty-seven-year-old Satoru Mikami is...,Violence,That Time I Got Reincarnated as a Slime (Light...,That Time I Got Reincarnated as a Slime: Veldo...,"Rimuru Tempest : Takuma Terashima, Alice Rondo...","Fuse : Original Creator, Mitz Vah : Original C..."
4,64,Code Geass: Lelouch of the Rebellion,Code Geass: Hangyaku no Lelouch,TV,25.0,Sunrise,Fall,"Mecha, Sci Fi, Conspiracy, Mind Games, Overpow...",4.38,2006.0,2007.0,"'In 2010, the Britannian Empire enslaved Japan...","Nudity,, Violence","Code Geass: Lelouch of the Rebellion, Code Gea...","Code Geass: Dakkan no Z, Code Geass: Lelouch o...","C.C. : Yukana, Kallen Stadtfeld : Ami Koshimiz...",Gorou Taniguchi : Director & Op Director & Ori...

In [ ]:
# perform statistical operations
df=pd.read_csv('/content/drive/MyDrive/Anime.csv')

In [ ]:
df.head()

,Rank,Name,Japanese_name,Type,Episodes,Studio,Release_season,Tags,Rating,Release_year,End_year,Description,Content_Warning,Related_Mange,Related_anime,Voice_actors,staff
0,1,Demon Slayer: Kimetsu no Yaiba - Entertainment...,Kimetsu no Yaiba: Yuukaku-hen,TV,NaN,ufotable,Fall,"Action, Adventure, Fantasy, Shounen, Demons, H...",4.60,2021.0,NaN,'Tanjiro and his friends accompany the Hashira...,Explicit Violence,Demon Slayer: Kimetsu no Yaiba,"Demon Slayer: Kimetsu no Yaiba, Demon Slayer: ...","Inosuke Hashibira : Yoshitsugu Matsuoka, Nezuk...","Koyoharu Gotouge : Original Creator, Haruo Sot..."
1,2,Fruits Basket the Final Season,Fruits Basket the Final,TV,13.0,TMS Entertainment,Spring,"Drama, Fantasy, Romance, Shoujo, Animal Transf...",4.60,2021.0,NaN,'The final arc of Fruits Basket.',"Emotional Abuse,, Mature Themes,, Physical Abu...","Fruits Basket, Fruits Basket Another","Fruits Basket 1st Season, Fruits Basket 2nd Se...","Akito Sohma : Maaya Sakamoto, Kyo Sohma : Yuum...","Natsuki Takaya : Original Creator, Yoshihide I..."
2,3,Mo Dao Zu Shi 3,The Founder of Diabolism 3,Web,12.0,B.C MAY PICTURES,NaN,"Fantasy, Ancient China, Chinese Animation, Cul...",4.58,2021.0,NaN,'The third season of Mo Dao Zu Shi.',NaN,Grandmaster of Demonic Cultivation: Mo Dao Zu ...,"Mo Dao Zu Shi 2, Mo Dao Zu Shi Q","Lan Wangji, Wei Wuxian, Jiang Cheng, Jin Guang...","Mo Xiang Tong Xiu : Original Creator, Xiong Ke..."
3,4,Fullmetal Alchemist: Brotherhood,Hagane no Renkinjutsushi: Full Metal Alchemist,TV,64.0,Bones,Spring,"Action, Adventure, Drama, Fantasy, Mystery, Sh...",4.58,2009.0,2010.0,"""The foundation of alchemy is based on the law...","Animal Abuse,, Mature Themes,, Violence,, Dome...","Fullmetal Alchemist, Fullmetal Alchemist (Ligh...","Fullmetal Alchemist: Brotherhood Specials, Ful...","Alphonse Elric : Rie Kugimiya, Edward Elric : ...","Hiromu Arakawa : Original Creator, Yasuhiro Ir..."
4,5,Attack on Titan 3rd Season: Part II,Shingeki no Kyojin Season 3: Part II,TV,10.0,WIT Studio,Spring,"Action, Fantasy, Horror, Shounen, Dark Fantasy...",4.57,2019.0,NaN,'The battle to retake Wall Maria begins now! W...,"Cannibalism,, Explicit Violence","Attack on Titan, Attack on Titan: End of the W...","Attack on Titan, Attack on Titan 2nd Season, A...","Armin Arlelt : Marina Inoue, Eren Jaeger : Yuu...","Hajime Isayama : Original Creator, Tetsurou Ar..."

In [ ]:
df.isna().sum()

Rank                   0
Name                   0
Japanese_name      10557
Type                   0
Episodes            8994
Studio              6477
Release_season     14379
Tags                 400
Rating              3131
Release_year         383
End_year           15641
Description            4
Content_Warning    16655
Related_Mange      10868
Related_anime       8432
Voice_actors        3186
staff               5490
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18495 entries, 0 to 18494
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rank             18495 non-null  int64
 1   Name             18495 non-null  object
 2   Japanese_name    7938 non-null   object
 3   Type             18495 non-null  object
 4   Episodes         9501 non-null   float64
 5   Studio           12018 non-null  object
 6   Release_season   4116 non-null   object
 7   Tags             18095 non-null  object
 8   Rating           15364 non-null  float64
 9   Release_year     18112 non-null  float64
 10  End_year         2854 non-null   float64
 11  Description      18491 non-null  object
 12  Content_Warning  1840 non-null   object
 13  Related_Mange    7627 non-null   object
 14  Related_anime    10063 non-null  object
 15  Voice_actors     15309 non-null  object
 16  staff            13005 non-null  object
dtypes: float64(4), int64(1), object(12)
memory usage: 2.4+ MB

In [ ]:
df['Japanese_name'].value_counts()

Japanese_name
The                                                                  14
We're Luck & Logic Club! 2                                            2
Bakumatsu: Renai Bakumatsu Kareshi Gaiden - Crisis                    2
Vampire Hunter: The Animated Series                                   2
Minna no Uta: Tenka Muteki no Gouyaaman                              2
                                                                     ..
Osamu Tezuka's Buddha: The Great Departure                            1
Microman                                                              1
Okusama ga Seito Kaichou! Okusama Gekijou                             1
Dragon Ball Z Movie 06: Gekitotsu!! 100-oku Power no Senshi-tachi     1
Toaru Kagaku no Railgun Specials                                      1
Name: count, Length: 7902, dtype: int64

In [ ]:
# replacing every missing value in Japanese_name
# fillna
df['Japanese_name'].fillna('unknown',inplace=True)

/tmp/ipython-input-4109572867.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Japanese_name'].fillna('unknown',inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18495 entries, 0 to 18494
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rank             18495 non-null  int64
 1   Name             18495 non-null  object
 2   Japanese_name    18495 non-null  object
 3   Type             18495 non-null  object
 4   Episodes         9501 non-null   float64
 5   Studio           12018 non-null  object
 6   Release_season   4116 non-null   object
 7   Tags             18095 non-null  object
 8   Rating           15364 non-null  float64
 9   Release_year     18112 non-null  float64
 10  End_year         2854 non-null   float64
 11  Description      18491 non-null  object
 12  Content_Warning  1840 non-null   object
 13  Related_Mange    7627 non-null   object
 14  Related_anime    10063 non-null  object
 15  Voice_actors     15309 non-null  object
 16  staff            13005 non-null  object
dtypes: float64(4), int64(1), object(12)
memory usage: 2.4+ MB

In [ ]:
df['Episodes'].value_counts()

Episodes
1.0      2185
12.0     1560
13.0      802
26.0      716
2.0       424
         ...
400.0       1
800.0       1
245.0       1
144.0       1
250.0       1
Name: count, Length: 205, dtype: int64

In [ ]:
x=df['Episodes'].mean()
x

In [ ]:
df['Episodes'].fillna(x,inplace=True)

/tmp/ipython-input-3497054103.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<bound method Series.mean of 0          NaN
1         13.0
2         12.0
3         64.0
4         10.0
         ...
18490      2.0
18491    108.0
18492     13.0
18493      NaN
18494      NaN
Name: Episodes, Length: 18495, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['Episodes'].fillna(x,inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18495 entries, 0 to 18494
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rank             18495 non-null  int64
 1   Name             18495 non-null  object
 2   Japanese_name    18495 non-null  object
 3   Type             18495 non-null  object
 4   Episodes         18495 non-null  object
 5   Studio           12018 non-null  object
 6   Release_season   4116 non-null   object
 7   Tags             18095 non-null  object
 8   Rating           15364 non-null  float64
 9   Release_year     18112 non-null  float64
 10  End_year         2854 non-null   float64
 11  Description      18491 non-null  object
 12  Content_Warning  1840 non-null   object
 13  Related_Mange    7627 non-null   object
 14  Related_anime    10063 non-null  object
 15  Voice_actors     15309 non-null  object
 16  staff            13005 non-null  object
dtypes: float64(3), int64(1), object(13)
memory usage: 2.4+ MB

In [ ]:
df['Studio'].value_counts()

x=df['Studio'].mode()

df['Studio'].fillna(x[0],inplace=True)        #can only replace with 1 index value

/tmp/ipython-input-478768329.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Studio'].fillna(x[0],inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18495 entries, 0 to 18494
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rank             18495 non-null  int64
 1   Name             18495 non-null  object
 2   Japanese_name    18495 non-null  object
 3   Type             18495 non-null  object
 4   Episodes         18495 non-null  object
 5   Studio           18495 non-null  object
 6   Release_season   4116 non-null   object
 7   Tags             18095 non-null  object
 8   Rating           15364 non-null  float64
 9   Release_year     18112 non-null  float64
 10  End_year         2854 non-null   float64
 11  Description      18491 non-null  object
 12  Content_Warning  1840 non-null   object
 13  Related_Mange    7627 non-null   object
 14  Related_anime    10063 non-null  object
 15  Voice_actors     15309 non-null  object
 16  staff            13005 non-null  object
dtypes: float64(3), int64(1), object(13)
memory usage: 2.4+ MB

In [ ]:
df['Release_season'].value_counts()

df['Release_season'].fillna(df['Release_season'].mode()[0],inplace=True)

/tmp/ipython-input-4137166753.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Release_season'].fillna(df['Release_season'].mode()[0],inplace=True)

In [ ]:
df.isna().sum()

Rank                   0
Name                   0
Japanese_name          0
Type                   0
Episodes               0
Studio                 0
Release_season         0
Tags                 400
Rating              3131
Release_year         383
End_year           15641
Description            4
Content_Warning    16655
Related_Mange      10868
Related_anime       8432
Voice_actors        3186
staff               5490
dtype: int64

In [ ]:
df['Tags'].value_counts()

df['Tags'].fillna('unknow',inplace=True)

/tmp/ipython-input-2700058726.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Tags'].fillna('unknow',inplace=True)

In [ ]:
df.isna().sum()

Rank                   0
Name                   0
Japanese_name          0
Type                   0
Episodes               0
Studio                 0
Release_season         0
Tags                   0
Rating              3131
Release_year         383
End_year           15641
Description            4
Content_Warning    16655
Related_Mange      10868
Related_anime       8432
Voice_actors        3186
staff               5490
dtype: int64

In [ ]:
df['Rating'].value_counts()

df['Rating'].fillna(df['Rating'].mean(),inplace=True)

/tmp/ipython-input-3547277223.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Rating'].fillna(df['Rating'].mean(),inplace=True)

In [ ]:
df.isna().sum()

Rank                   0
Name                   0
Japanese_name          0
Type                   0
Episodes               0
Studio                 0
Release_season         0
Tags                   0
Rating                 0
Release_year         383
End_year           15641
Description            4
Content_Warning    16655
Related_Mange      10868
Related_anime       8432
Voice_actors        3186
staff               5490
dtype: int64

In [ ]:
df['Release_year'].value_counts()

df['Release_year'].fillna(df['Release_year'].mode()[0],inplace=True)

/tmp/ipython-input-1908783137.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Release_year'].fillna(df['Release_year'].mode()[0],inplace=True)

In [ ]:
df.isna().sum()

Rank                   0
Name                   0
Japanese_name          0
Type                   0
Episodes               0
Studio                 0
Release_season         0
Tags                   0
Rating                 0
Release_year           0
End_year           15641
Description            4
Content_Warning    16655
Related_Mange      10868
Related_anime       8432
Voice_actors        3186
staff               5490
dtype: int64

In [ ]:
df['End_year'].value_counts()

df['End_year'].fillna(df['End_year'].mean(),inplace=True)

/tmp/ipython-input-2496714964.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['End_year'].fillna(df['End_year'].mean(),inplace=True)

In [ ]:
df.isna().sum()

Rank                   0
Name                   0
Japanese_name          0
Type                   0
Episodes               0
Studio                 0
Release_season         0
Tags                   0
Rating                 0
Release_year           0
End_year               0
Description            4
Content_Warning    16655
Related_Mange      10868
Related_anime       8432
Voice_actors        3186
staff               5490
dtype: int64

In [ ]:
df['Content_Warning'].value_counts()

df['Content_Warning'].fillna(df['Content_Warning'].mode()[0],inplace=True)

/tmp/ipython-input-1262084554.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Content_Warning'].fillna(df['Content_Warning'].mode()[0],inplace=True)

In [ ]:
df.isna().sum()

Rank                   0
Name                   0
Japanese_name          0
Type                   0
Episodes               0
Studio                 0
Release_season         0
Tags                   0
Rating                 0
Release_year           0
End_year               0
Description            4
Content_Warning        0
Related_Mange      10868
Related_anime       8432
Voice_actors        3186
staff               5490
dtype: int64

In [ ]:
df['Related_Mange'].value_counts()

df['Related_Mange'].fillna('unknown',inplace=True)

In [ ]:
df.isna().sum()

Rank                  0
Name                  0
Japanese_name         0
Type                  0
Episodes              0
Studio                0
Release_season        0
Tags                  0
Rating                0
Release_year          0
End_year              0
Description           4
Content_Warning       0
Related_Mange         0
Related_anime      8432
Voice_actors       3186
staff              5490
dtype: int64

In [ ]:
df['Related_anime'].value_counts()

df["Related_anime"].fillna('unknown',inplace=True)

/tmp/ipython-input-1236306636.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Related_anime"].fillna('unknown',inplace=True)

In [ ]:
df.isna().sum()

Rank                  0
Name                  0
Japanese_name         0
Type                  0
Episodes              0
Studio                0
Release_season        0
Tags                  0
Rating                0
Release_year          0
End_year              0
Description           4
Content_Warning       0
Related_Mange         0
Related_anime         0
Voice_actors       3186
staff              5490
dtype: int64

In [ ]:
df['Voice_actors'].value_counts()

df['Voice_actors'].fillna('unknown',inplace=True)

/tmp/ipython-input-2654214751.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Voice_actors'].fillna('unknown',inplace=True)

In [ ]:
df.isna().sum()

Rank                  0
Name                  0
Japanese_name         0
Type                  0
Episodes              0
Studio                0
Release_season        0
Tags                  0
Rating                0
Release_year          0
End_year              0
Description           4
Content_Warning       0
Related_Mange         0
Related_anime         0
Voice_actors          0
staff              5490
dtype: int64

In [ ]:
df['staff'].value_counts()

df['staff'].fillna('unknown',inplace=True)

/tmp/ipython-input-1710002466.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['staff'].fillna('unknown',inplace=True)

In [ ]:
df.isna().sum()

Rank               0
Name               0
Japanese_name      0
Type               0
Episodes           0
Studio             0
Release_season     0
Tags               0
Rating             0
Release_year       0
End_year           0
Description        4
Content_Warning    0
Related_Mange      0
Related_anime      0
Voice_actors       0
staff              0
dtype: int64

In [ ]:
df['Description'].value_counts()

df['Description'].fillna('No description',inplace=True)

/tmp/ipython-input-2901108951.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Description'].fillna('No description',inplace=True)

In [ ]:
df.isna().sum()

Rank               0
Name               0
Japanese_name      0
Type               0
Episodes           0
Studio             0
Release_season     0
Tags               0
Rating             0
Release_year       0
End_year           0
Description        0
Content_Warning    0
Related_Mange      0
Related_anime      0
Voice_actors       0
staff              0
dtype: int64

In [2]:
df=pd.read_csv('/content/future_jobs_dataset.csv')

In [3]:
df

,job_id,job_title,industry,location,salary_usd,skills_required,remote_option,company_size,posting_date
0,1,Quantum Researcher,Quantum Computing,Singapore,175780,"Linear Algebra, Quantum Algorithms",No,Large,2025-07-22
1,2,Renewable Energy Engineer,Green Tech,Singapore,137481,"Climate Data Analysis, Energy Modeling",Yes,Large,2025-09-26
2,3,Quantum Researcher,Quantum Computing,Tokyo,182081,"Linear Algebra, Qiskit",No,Medium,2025-12-31
3,4,Sustainability Analyst,Green Tech,Singapore,113822,"Climate Data Analysis, Energy Modeling",No,Large,2025-05-29
4,5,Smart Contract Engineer,Blockchain,London,92575,"Rust, Solidity",Yes,Small,2025-03-30
...,...,...,...,...,...,...,...,...,...
9995,9996,Sustainability Analyst,Green Tech,New York,248617,"Energy Modeling, Climate Data Analysis",Yes,Small,2025-04-13
9996,9997,Blockchain Developer,Blockchain,New York,104410,"Ethereum, Solidity",Yes,Large,2025-11-03
9997,9998,Quantum Software Developer,Quantum Computing,Berlin,200382,"Quantum Algorithms, Qiskit",No,Small,2025-02-23
9998,9999,Renewable Energy Engineer,Green Tech,New York,214484,"Energy Modeling, Climate Data Analysis",No,Small,2025-03-08
9999,10000,AI Engineer,AI,Singapore,117307,"TensorFlow, Python",Yes,Large,2025-08-12

In [4]:
df.isna().sum()

job_id             0
job_title          0
industry           0
location           0
salary_usd         0
skills_required    0
remote_option      0
company_size       0
posting_date       0
dtype: int64