<a href="https://colab.research.google.com/github/Nav-ee-n/pandas-practice/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas

In [1]:
import pandas as pd
import numpy as np

In [ ]:
# Dataframe is structured data - rows and columns
# series is columns in dataframe - building blocks of dataframe - labelled 1d array - series have titles
#
# series uses more memory than array

In [ ]:
# create an array with 10 elements
a=np.arange(1,11)
a

b=pd.Series(a)
b

b.ndim
b.size
b.shape

10

In [ ]:
b.head()          #print first 5 elements
b.head(6)         #by default its 5 but value can be given

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
b.tail()          #print last 5 elements of the series
b.tail(6)         #print last elements upto given value

4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
# add two series

a=pd.Series([1,2,3,4,5])
b=pd.Series([10,20,30,40,50])
c=pd.concat([a,b],ignore_index=True)
c

0     1
1     2
2     3
3     4
4     5
5    10
6    20
7    30
8    40
9    50
dtype: int64

In [ ]:
a.add(b)
a.sub(b)
a.mul(b)
a.div(b)

0    0.1
1    0.1
2    0.1
3    0.1
4    0.1
dtype: float64

In [ ]:
# create a series with named index
a=pd.Series([1,2,3,4],index=["a","b","c","d"])
a

a    1
b    2
c    3
d    4
dtype: int64

In [ ]:
# series can be created using a dictionary
d={101:"apple",102:"orange",103:"mango"}

e=pd.Series(d)
e

101     apple
102    orange
103     mango
dtype: object

In [ ]:
s=pd.Series(4,index=[1,2,3,4,5,6])
s

1    4
2    4
3    4
4    4
5    4
6    4
dtype: int64

In [ ]:
# accessing a single element in series
s=pd.Series([1,2,3,4,5])
s[2]

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
s[2:4]

2    3
3    4
dtype: int64

In [ ]:
s[[2,4]]

2    3
4    5
dtype: int64

DataFrame

In [5]:
l=[1,2,3,4,5]
df=pd.DataFrame(l)

df

df.ndim
df.shape
df.size

5

In [8]:
# creating dataframe from nested list

l=[["apple",10],["orange",20]]
df=pd.DataFrame(l,columns=['fruits','price'])
df

   fruits  price
0   apple     10
1  orange     20

In [9]:
# create a dataframe with id name location and add 4 data points
l=[[1,"Rahul","Kochi"],[2,"Jishnu","Trivandrum"],[3,"Suraj","Rak"],[4,"Abrar","Toronto"]]
df=pd.DataFrame(l,columns=["id","name","location"])
df

   id    name    location
0   1   Rahul       Kochi
1   2  Jishnu  Trivandrum
2   3   Suraj         Rak
3   4   Abrar     Toronto

In [11]:
# creating a dataframe from dictionary and list

d={"name":["Hiran","Techno","Metro"],"location":["rak","abu","dub"],"age":[23,45,24]}

df=pd.DataFrame(d,index=["a","b","c"])

df

     name location  age
a   Hiran      rak   23
b  Techno      abu   45
c   Metro      dub   24

In [12]:
# creating dataframe from list of dictionaries

l=[{"fruits":"apple","price":20},{"fruits":"orange","price":30},{"fruits":"mango","price":45}]

df=pd.DataFrame(l)

df

   fruits  price
0   apple     20
1  orange     30
2   mango     45

In [17]:
# create a dataframe with id,name,age,salary,profession

l={"id":[101,102,103,104,105],"name":["Steven","Gerrard","Sergio","Ramos","Pique"],"age":[45,34,56,34,21],"salary":[12900,24000,45300,45700,34000],
   "profession":["Data Scientist","DB Administrator","Software Tester","Team Leader","Manager"]}

df=pd.DataFrame(l)

df

l["gender"]=["m","f","m","m","f"]           #adding a new column

df=pd.DataFrame(l)


df

    id     name  age  salary        profession gender
0  101   Steven   45   12900    Data Scientist      m
1  102  Gerrard   34   24000  DB Administrator      f
2  103   Sergio   56   45300   Software Tester      m
3  104    Ramos   34   45700       Team Leader      m
4  105    Pique   21   34000           Manager      f

In [18]:
df.head(2)

    id     name  age  salary        profession gender
0  101   Steven   45   12900    Data Scientist      m
1  102  Gerrard   34   24000  DB Administrator      f

In [19]:
df.tail(2)

    id   name  age  salary   profession gender
3  104  Ramos   34   45700  Team Leader      m
4  105  Pique   21   34000      Manager      f

In [21]:
df.columns

Index(['id', 'name', 'age', 'salary', 'profession', 'gender'], dtype='object')

In [23]:
df.dtypes

id             int64
name          object
age            int64
salary         int64
profession    object
gender        object
dtype: object

In [25]:
df.describe()

               id       age        salary
count    5.000000   5.00000      5.000000
mean   103.000000  38.00000  32380.000000
std      1.581139  13.17194  14112.653896
min    101.000000  21.00000  12900.000000
25%    102.000000  34.00000  24000.000000
50%    103.000000  34.00000  34000.000000
75%    104.000000  45.00000  45300.000000
max    105.000000  56.00000  45700.000000

In [27]:
df.describe(include="O")

          name      profession gender
count        5               5      5
unique       5               5      2
top     Steven  Data Scientist      m
freq         1               1      3

In [28]:
df.describe(include="all")

                id    name       age        salary      profession gender
count     5.000000       5   5.00000      5.000000               5      5
unique         NaN       5       NaN           NaN               5      2
top            NaN  Steven       NaN           NaN  Data Scientist      m
freq           NaN       1       NaN           NaN               1      3
mean    103.000000     NaN  38.00000  32380.000000             NaN    NaN
std       1.581139     NaN  13.17194  14112.653896             NaN    NaN
min     101.000000     NaN  21.00000  12900.000000             NaN    NaN
25%     102.000000     NaN  34.00000  24000.000000             NaN    NaN
50%     103.000000     NaN  34.00000  34000.000000             NaN    NaN
75%     104.000000     NaN  45.00000  45300.000000             NaN    NaN
max     105.000000     NaN  56.00000  45700.000000             NaN    NaN

In [31]:
# creating dataframe using dictionary and series

d={"fruits":pd.Series([1,2,3,4,5])}
df=pd.DataFrame(d)
df

   fruits
0       1
1       2
2       3
3       4
4       5

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          5 non-null      int64
 1   name        5 non-null      object
 2   age         5 non-null      int64
 3   salary      5 non-null      int64
 4   profession  5 non-null      object
 5   gender      5 non-null      object
dtypes: int64(3), object(3)
memory usage: 372.0+ bytes

In [30]:
df=pd.read_csv("/content/lung_cancer_examples.csv")
df

           Name      Surname  Age  Smokes  AreaQ  Alkhol  Result
0          John         Wick   35       3      5       4       1
1          John  Constantine   27      20      2       5       1
2        Camela     Anderson   30       0      5       2       0
3          Alex       Telles   28       0      8       1       0
4         Diego     Maradona   68       4      5       6       1
5     Cristiano      Ronaldo   34       0     10       0       0
6        Mihail          Tal   58      15     10       0       0
7         Kathy        Bates   22      12      5       2       0
8        Nicole       Kidman   45       2      6       0       0
9           Ray      Milland   52      18      4       5       1
10      Fredric        March   33       4      8       0       0
11          Yul      Brynner   18      10      6       3       0
12         Joan     Crawford   25       2      5       1       0
13         Jane        Wyman   28      20      2       8       1
14         Anna      Magnani   34      25      4       8       1
15   Katharine       Hepburn   39      18      8       1       0
16   Katharine       Hepburn   42      22      3       5       1
17       Barbra    Streisand   19      12      8       0       0
18      Maggie         Smith   62       5      4       3       1
19      Glenda       Jackson   73      10      7       6       1
20        Jane         Fonda   55      15      1       3       1
21  Maximilian        Schell   33       8      8       1       0
22     Gregory          Peck   22      20      6       2       0
23      Sidney       Poitier   44       5      8       1       0
24         Rex      Harrison   77       3      2       6       1
25         Lee        Marvin   21      20      5       3       0
26        Paul      Scofield   37      15      6       2       0
27         Rod       Steiger   34      12      8       0       0
28        John         Wayne   55      20      1       4       1
29        Gene       Hackman   40      20      2       7       1
30      Marlon        Brando   36      13      5       2       0
31        Jack        Lemmon   56      20      3       3       1
32        Jack     Nicholson   47      15      1       8       1
33       Peter        Finch    62      25      3       4       1
34     Richard      Dreyfuss   26      10      7       2       0
35      Dustin       Hoffman   25      20      8       2       0
36       Henry        Henry    59      20      3       4       1
37      Robert        Duvall   62      15      5       5       1
38       Ellen       Burstyn   33      25      8       2       0
39        Faye       Dunaway   37      10      5       3       0
40       Diane        Keaton   50      20      2       4       1
41        Jane         Fonda   47      12      8       0       0
42       Sally         Field   69      20      5       4       1
43       Sissy        Spacek   63      20      4       5       1
44     Jessica         Lange   39      15      7       2       0
45     Gwyneth       Paltrow   21      20      8       3       0
46       Halle         Berry   31      20      9       4       0
47      Nicole        Kidman   28      10      4       1       0
48    Charlize        Theron   53      20      6       3       1
49   Katharine       Hepburn   62      20      5       6       1
50   Katharine       Hepburn   42      12      6       2       0
51      Barbra     Streisand   44      30      1       6       1
52      Maggie         Smith   26      34      1       8       1
53      Glenda       Jackson   35      20      5       1       0
54      Ernest      Borgnine   26      13      6       1       0
55        Alec      Guinness   77      20      5       4       1
56    Charlton        Heston   75      15      3       5       1
57     Gregory          Peck   43      30      3       8       1
58      Sidney       Poitier   51      25      9       0       0