<a href="https://colab.research.google.com/github/Nav-ee-n/pandas-practice/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas

In [1]:
import pandas as pd
import numpy as np

In [ ]:
# Dataframe is structured data - rows and columns
# series is columns in dataframe - building blocks of dataframe - labelled 1d array - series have titles
#
# series uses more memory than array

In [ ]:
# create an array with 10 elements
a=np.arange(1,11)
a

b=pd.Series(a)
b

b.ndim
b.size
b.shape

10

In [ ]:
b.head()          #print first 5 elements
b.head(6)         #by default its 5 but value can be given

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
b.tail()          #print last 5 elements of the series
b.tail(6)         #print last elements upto given value

4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
# add two series

a=pd.Series([1,2,3,4,5])
b=pd.Series([10,20,30,40,50])
c=pd.concat([a,b],ignore_index=True)
c

0     1
1     2
2     3
3     4
4     5
5    10
6    20
7    30
8    40
9    50
dtype: int64

In [ ]:
a.add(b)
a.sub(b)
a.mul(b)
a.div(b)

0    0.1
1    0.1
2    0.1
3    0.1
4    0.1
dtype: float64

In [ ]:
# create a series with named index
a=pd.Series([1,2,3,4],index=["a","b","c","d"])
a

a    1
b    2
c    3
d    4
dtype: int64

In [ ]:
# series can be created using a dictionary
d={101:"apple",102:"orange",103:"mango"}

e=pd.Series(d)
e

101     apple
102    orange
103     mango
dtype: object

In [ ]:
s=pd.Series(4,index=[1,2,3,4,5,6])
s

1    4
2    4
3    4
4    4
5    4
6    4
dtype: int64

In [ ]:
# accessing a single element in series
s=pd.Series([1,2,3,4,5])
s[2]

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
s[2:4]

2    3
3    4
dtype: int64

In [ ]:
s[[2,4]]

2    3
4    5
dtype: int64

DataFrame

In [ ]:
l=[1,2,3,4,5]
df=pd.DataFrame(l)

df

df.ndim
df.shape
df.size

5

In [ ]:
# creating dataframe from nested list

l=[["apple",10],["orange",20]]
df=pd.DataFrame(l,columns=['fruits','price'])
df

   fruits  price
0   apple     10
1  orange     20

In [ ]:
# create a dataframe with id name location and add 4 data points
l=[[1,"Rahul","Kochi"],[2,"Jishnu","Trivandrum"],[3,"Suraj","Rak"],[4,"Abrar","Toronto"]]
df=pd.DataFrame(l,columns=["id","name","location"])
df

   id    name    location
0   1   Rahul       Kochi
1   2  Jishnu  Trivandrum
2   3   Suraj         Rak
3   4   Abrar     Toronto

In [ ]:
# creating a dataframe from dictionary and list

d={"name":["Hiran","Techno","Metro"],"location":["rak","abu","dub"],"age":[23,45,24]}

df=pd.DataFrame(d,index=["a","b","c"])

df

     name location  age
a   Hiran      rak   23
b  Techno      abu   45
c   Metro      dub   24

In [ ]:
# creating dataframe from list of dictionaries

l=[{"fruits":"apple","price":20},{"fruits":"orange","price":30},{"fruits":"mango","price":45}]

df=pd.DataFrame(l)

df

   fruits  price
0   apple     20
1  orange     30
2   mango     45

In [ ]:
# create a dataframe with id,name,age,salary,profession

l={"id":[101,102,103,104,105],"name":["Steven","Gerrard","Sergio","Ramos","Pique"],"age":[45,34,56,34,21],"salary":[12900,24000,45300,45700,34000],
   "profession":["Data Scientist","DB Administrator","Software Tester","Team Leader","Manager"]}

df=pd.DataFrame(l)

df

l["gender"]=["m","f","m","m","f"]           #adding a new column

df=pd.DataFrame(l)


df

    id     name  age  salary        profession gender
0  101   Steven   45   12900    Data Scientist      m
1  102  Gerrard   34   24000  DB Administrator      f
2  103   Sergio   56   45300   Software Tester      m
3  104    Ramos   34   45700       Team Leader      m
4  105    Pique   21   34000           Manager      f

In [ ]:
df.head(2)

    id     name  age  salary        profession gender
0  101   Steven   45   12900    Data Scientist      m
1  102  Gerrard   34   24000  DB Administrator      f

In [ ]:
df.tail(2)

    id   name  age  salary   profession gender
3  104  Ramos   34   45700  Team Leader      m
4  105  Pique   21   34000      Manager      f

In [ ]:
df.columns

Index(['id', 'name', 'age', 'salary', 'profession', 'gender'], dtype='object')

In [ ]:
df.dtypes

id             int64
name          object
age            int64
salary         int64
profession    object
gender        object
dtype: object

In [ ]:
df.describe()

               id       age        salary
count    5.000000   5.00000      5.000000
mean   103.000000  38.00000  32380.000000
std      1.581139  13.17194  14112.653896
min    101.000000  21.00000  12900.000000
25%    102.000000  34.00000  24000.000000
50%    103.000000  34.00000  34000.000000
75%    104.000000  45.00000  45300.000000
max    105.000000  56.00000  45700.000000

In [ ]:
df.describe(include="O")

          name      profession gender
count        5               5      5
unique       5               5      2
top     Steven  Data Scientist      m
freq         1               1      3

In [ ]:
df.describe(include="all")

                id    name       age        salary      profession gender
count     5.000000       5   5.00000      5.000000               5      5
unique         NaN       5       NaN           NaN               5      2
top            NaN  Steven       NaN           NaN  Data Scientist      m
freq           NaN       1       NaN           NaN               1      3
mean    103.000000     NaN  38.00000  32380.000000             NaN    NaN
std       1.581139     NaN  13.17194  14112.653896             NaN    NaN
min     101.000000     NaN  21.00000  12900.000000             NaN    NaN
25%     102.000000     NaN  34.00000  24000.000000             NaN    NaN
50%     103.000000     NaN  34.00000  34000.000000             NaN    NaN
75%     104.000000     NaN  45.00000  45300.000000             NaN    NaN
max     105.000000     NaN  56.00000  45700.000000             NaN    NaN

In [ ]:
# creating dataframe using dictionary and series

d={"fruits":pd.Series([1,2,3,4,5])}
df=pd.DataFrame(d)
df

   fruits
0       1
1       2
2       3
3       4
4       5

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          5 non-null      int64
 1   name        5 non-null      object
 2   age         5 non-null      int64
 3   salary      5 non-null      int64
 4   profession  5 non-null      object
 5   gender      5 non-null      object
dtypes: int64(3), object(3)
memory usage: 372.0+ bytes

In [ ]:
df=pd.read_csv("/content/lung_cancer_examples.csv")
df

           Name      Surname  Age  Smokes  AreaQ  Alkhol  Result
0          John         Wick   35       3      5       4       1
1          John  Constantine   27      20      2       5       1
2        Camela     Anderson   30       0      5       2       0
3          Alex       Telles   28       0      8       1       0
4         Diego     Maradona   68       4      5       6       1
5     Cristiano      Ronaldo   34       0     10       0       0
6        Mihail          Tal   58      15     10       0       0
7         Kathy        Bates   22      12      5       2       0
8        Nicole       Kidman   45       2      6       0       0
9           Ray      Milland   52      18      4       5       1
10      Fredric        March   33       4      8       0       0
11          Yul      Brynner   18      10      6       3       0
12         Joan     Crawford   25       2      5       1       0
13         Jane        Wyman   28      20      2       8       1
14         Anna      Magnani   34      25      4       8       1
15   Katharine       Hepburn   39      18      8       1       0
16   Katharine       Hepburn   42      22      3       5       1
17       Barbra    Streisand   19      12      8       0       0
18      Maggie         Smith   62       5      4       3       1
19      Glenda       Jackson   73      10      7       6       1
20        Jane         Fonda   55      15      1       3       1
21  Maximilian        Schell   33       8      8       1       0
22     Gregory          Peck   22      20      6       2       0
23      Sidney       Poitier   44       5      8       1       0
24         Rex      Harrison   77       3      2       6       1
25         Lee        Marvin   21      20      5       3       0
26        Paul      Scofield   37      15      6       2       0
27         Rod       Steiger   34      12      8       0       0
28        John         Wayne   55      20      1       4       1
29        Gene       Hackman   40      20      2       7       1
30      Marlon        Brando   36      13      5       2       0
31        Jack        Lemmon   56      20      3       3       1
32        Jack     Nicholson   47      15      1       8       1
33       Peter        Finch    62      25      3       4       1
34     Richard      Dreyfuss   26      10      7       2       0
35      Dustin       Hoffman   25      20      8       2       0
36       Henry        Henry    59      20      3       4       1
37      Robert        Duvall   62      15      5       5       1
38       Ellen       Burstyn   33      25      8       2       0
39        Faye       Dunaway   37      10      5       3       0
40       Diane        Keaton   50      20      2       4       1
41        Jane         Fonda   47      12      8       0       0
42       Sally         Field   69      20      5       4       1
43       Sissy        Spacek   63      20      4       5       1
44     Jessica         Lange   39      15      7       2       0
45     Gwyneth       Paltrow   21      20      8       3       0
46       Halle         Berry   31      20      9       4       0
47      Nicole        Kidman   28      10      4       1       0
48    Charlize        Theron   53      20      6       3       1
49   Katharine       Hepburn   62      20      5       6       1
50   Katharine       Hepburn   42      12      6       2       0
51      Barbra     Streisand   44      30      1       6       1
52      Maggie         Smith   26      34      1       8       1
53      Glenda       Jackson   35      20      5       1       0
54      Ernest      Borgnine   26      13      6       1       0
55        Alec      Guinness   77      20      5       4       1
56    Charlton        Heston   75      15      3       5       1
57     Gregory          Peck   43      30      3       8       1
58      Sidney       Poitier   51      25      9       0       0

In [ ]:
df.head()

     Name      Surname  Age  Smokes  AreaQ  Alkhol  Result
0    John         Wick   35       3      5       4       1
1    John  Constantine   27      20      2       5       1
2  Camela     Anderson   30       0      5       2       0
3    Alex       Telles   28       0      8       1       0
4   Diego     Maradona   68       4      5       6       1

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     59 non-null     object
 1   Surname  59 non-null     object
 2   Age      59 non-null     int64
 3   Smokes   59 non-null     int64
 4   AreaQ    59 non-null     int64
 5   Alkhol   59 non-null     int64
 6   Result   59 non-null     int64
dtypes: int64(5), object(2)
memory usage: 3.4+ KB

In [ ]:
df.describe()

             Age     Smokes      AreaQ     Alkhol     Result
count  59.000000  59.000000  59.000000  59.000000  59.000000
mean   42.627119  15.067797   5.203390   3.237288   0.474576
std    16.235230   7.984607   2.461984   2.380517   0.503640
min    18.000000   0.000000   1.000000   0.000000   0.000000
25%    29.000000  10.000000   3.000000   1.000000   0.000000
50%    39.000000  15.000000   5.000000   3.000000   0.000000
75%    55.000000  20.000000   7.500000   5.000000   1.000000
max    77.000000  34.000000  10.000000   8.000000   1.000000

In [ ]:
df.tail()

         Name   Surname  Age  Smokes  AreaQ  Alkhol  Result
54    Ernest   Borgnine   26      13      6       1       0
55      Alec   Guinness   77      20      5       4       1
56  Charlton     Heston   75      15      3       5       1
57   Gregory       Peck   43      30      3       8       1
58    Sidney    Poitier   51      25      9       0       0

In [ ]:
print(df[["Name",'Surname']])         #df.Name

           Name      Surname
0          John         Wick
1          John  Constantine
2        Camela     Anderson
3          Alex       Telles
4         Diego     Maradona
5     Cristiano      Ronaldo
6        Mihail          Tal
7         Kathy        Bates
8        Nicole       Kidman
9           Ray      Milland
10      Fredric        March
11          Yul      Brynner
12         Joan     Crawford
13         Jane        Wyman
14         Anna      Magnani
15   Katharine       Hepburn
16   Katharine       Hepburn
17       Barbra    Streisand
18      Maggie         Smith
19      Glenda       Jackson
20        Jane         Fonda
21  Maximilian        Schell
22     Gregory          Peck
23      Sidney       Poitier
24         Rex      Harrison
25         Lee        Marvin
26        Paul      Scofield
27         Rod       Steiger
28        John         Wayne
29        Gene       Hackman
30      Marlon        Brando
31        Jack        Lemmon
32        Jack     Nicholson
33       Peter        Finch
34     Richard      Dreyfuss
35      Dustin       Hoffman
36       Henry        Henry
37      Robert        Duvall
38       Ellen       Burstyn
39        Faye       Dunaway
40       Diane        Keaton
41        Jane         Fonda
42       Sally         Field
43       Sissy        Spacek
44     Jessica         Lange
45     Gwyneth       Paltrow
46       Halle         Berry
47      Nicole        Kidman
48    Charlize        Theron
49   Katharine       Hepburn
50   Katharine       Hepburn
51      Barbra     Streisand
52      Maggie         Smith
53      Glenda       Jackson
54      Ernest      Borgnine
55        Alec      Guinness
56    Charlton        Heston
57     Gregory          Peck
58      Sidney       Poitier

In [ ]:
x=df[['Alkhol',"Result"]].head()
x

   Alkhol  Result
0       4       1
1       5       1
2       2       0
3       1       0
4       6       1

In [2]:
df=pd.read_csv("/content/Mall_Customers.csv")
df

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [ ]:
# display first 3 observations

df.head(3)

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6

In [ ]:
# display last 3 observations


df.tail(3)

     CustomerID Genre  Age  Annual Income (k$)  Spending Score (1-100)
197         198  Male   32                 126                      74
198         199  Male   32                 137                      18
199         200  Male   30                 137                      83

In [ ]:
# find no. of rows and columns
df.shape

(200, 5)

In [ ]:

# find datatypes of each attribute

df.dtypes

CustomerID                 int64
Genre                     object
Age                        int64
Annual Income (k$)         int64
Spending Score (1-100)     int64
dtype: object

In [ ]:
# find total no. of data

df.size

1000

In [ ]:
# checks if missing value
df.isna()

     CustomerID  Genre    Age  Annual Income (k$)  Spending Score (1-100)
0         False  False  False               False                   False
1         False  False  False               False                   False
2         False  False  False               False                   False
3         False  False  False               False                   False
4         False  False  False               False                   False
..          ...    ...    ...                 ...                     ...
195       False  False  False               False                   False
196       False  False  False               False                   False
197       False  False  False               False                   False
198       False  False  False               False                   False
199       False  False  False               False                   False

[200 rows x 5 columns]

In [ ]:
df.isna().sum()

CustomerID                0
Genre                     0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [ ]:
# checks for null values
df.isnull()

     CustomerID  Genre    Age  Annual Income (k$)  Spending Score (1-100)
0         False  False  False               False                   False
1         False  False  False               False                   False
2         False  False  False               False                   False
3         False  False  False               False                   False
4         False  False  False               False                   False
..          ...    ...    ...                 ...                     ...
195       False  False  False               False                   False
196       False  False  False               False                   False
197       False  False  False               False                   False
198       False  False  False               False                   False
199       False  False  False               False                   False

[200 rows x 5 columns]

In [ ]:
df.isnull().sum()

CustomerID                0
Genre                     0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [ ]:
# using index get the specific rows
df.iloc[2]

CustomerID                     3
Genre                     Female
Age                           20
Annual Income (k$)            16
Spending Score (1-100)         6
Name: 2, dtype: object

In [ ]:
df.iloc[0:3]

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6

In [ ]:
df.iloc[0::2]

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
2             3  Female   20                  16                       6
4             5  Female   31                  17                      40
6             7  Female   35                  18                       6
8             9    Male   64                  19                       3
..          ...     ...  ...                 ...                     ...
190         191  Female   34                 103                      23
192         193    Male   33                 113                       8
194         195  Female   47                 120                      16
196         197  Female   45                 126                      28
198         199    Male   32                 137                      18

[100 rows x 5 columns]

In [ ]:
df.columns=["CustomerID","Gender","Age","Annual Income (k$)","Spending Score(1-100)"]

df

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score(1-100)
0             1    Male   19                  15                     39
1             2    Male   21                  15                     81
2             3  Female   20                  16                      6
3             4  Female   23                  16                     77
4             5  Female   31                  17                     40
..          ...     ...  ...                 ...                    ...
195         196  Female   35                 120                     79
196         197  Female   45                 126                     28
197         198    Male   32                 126                     74
198         199    Male   32                 137                     18
199         200    Male   30                 137                     83

[200 rows x 5 columns]

In [ ]:
# get rows with cusid,age,spendinf score

df1=df[['CustomerID','Age',"Spending Score(1-100)"]]        #df.iloc[:,0::2]
df1

     CustomerID  Age  Spending Score(1-100)
0             1   19                     39
1             2   21                     81
2             3   20                      6
3             4   23                     77
4             5   31                     40
..          ...  ...                    ...
195         196   35                     79
196         197   45                     28
197         198   32                     74
198         199   32                     18
199         200   30                     83

[200 rows x 3 columns]

In [ ]:
# get values from 20 to 30 with cusid,age,spendinf score

df1.iloc[20:31]                                   #df.iloc[20:31,0::2]

    CustomerID  Age  Spending Score(1-100)
20          21   35                     35
21          22   25                     73
22          23   46                      5
23          24   31                     73
24          25   54                     14
25          26   29                     82
26          27   45                     32
27          28   35                     61
28          29   40                     31
29          30   23                     87
30          31   60                      4

In [ ]:
x=df[["CustomerID","Gender","Age","Annual Income (k$)"]]        #x=df.iloc[:,:-1]
x

     CustomerID  Gender  Age  Annual Income (k$)
0             1    Male   19                  15
1             2    Male   21                  15
2             3  Female   20                  16
3             4  Female   23                  16
4             5  Female   31                  17
..          ...     ...  ...                 ...
195         196  Female   35                 120
196         197  Female   45                 126
197         198    Male   32                 126
198         199    Male   32                 137
199         200    Male   30                 137

[200 rows x 4 columns]

In [ ]:
y=df["Spending Score(1-100)"]                   #y=df.iloc[:,-1]

y

0      39
1      81
2       6
3      77
4      40
       ..
195    79
196    28
197    74
198    18
199    83
Name: Spending Score(1-100), Length: 200, dtype: int64

In [ ]:
# loc is used to filter / give condition

df.loc[df["Age"]>21]

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score(1-100)
3             4  Female   23                  16                     77
4             5  Female   31                  17                     40
5             6  Female   22                  17                     76
6             7  Female   35                  18                      6
7             8  Female   23                  18                     94
..          ...     ...  ...                 ...                    ...
195         196  Female   35                 120                     79
196         197  Female   45                 126                     28
197         198    Male   32                 126                     74
198         199    Male   32                 137                     18
199         200    Male   30                 137                     83

[178 rows x 5 columns]

In [ ]:
df.loc[df["Gender"]=="Male"]

     CustomerID Gender  Age  Annual Income (k$)  Spending Score(1-100)
0             1   Male   19                  15                     39
1             2   Male   21                  15                     81
8             9   Male   64                  19                      3
10           11   Male   67                  19                     14
14           15   Male   37                  20                     13
..          ...    ...  ...                 ...                    ...
187         188   Male   28                 101                     68
192         193   Male   33                 113                      8
197         198   Male   32                 126                     74
198         199   Male   32                 137                     18
199         200   Male   30                 137                     83

[88 rows x 5 columns]

In [ ]:
# when more than one condition, give them in tuples

df.loc[(df["Age"]>21) & (df["Gender"]=="Male")]

     CustomerID Gender  Age  Annual Income (k$)  Spending Score(1-100)
8             9   Male   64                  19                      3
10           11   Male   67                  19                     14
14           15   Male   37                  20                     13
15           16   Male   22                  20                     79
18           19   Male   52                  23                     29
..          ...    ...  ...                 ...                    ...
187         188   Male   28                 101                     68
192         193   Male   33                 113                      8
197         198   Male   32                 126                     74
198         199   Male   32                 137                     18
199         200   Male   30                 137                     83

[75 rows x 5 columns]

In [ ]:
df.loc[(df["Age"]>20) & (df["Spending Score(1-100)"]>40)]

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score(1-100)
1             2    Male   21                  15                     81
3             4  Female   23                  16                     77
5             6  Female   22                  17                     76
7             8  Female   23                  18                     94
9            10  Female   30                  19                     72
..          ...     ...  ...                 ...                    ...
191         192  Female   32                 103                     69
193         194  Female   38                 113                     91
195         196  Female   35                 120                     79
197         198    Male   32                 126                     74
199         200    Male   30                 137                     83

[125 rows x 5 columns]

In [ ]:
# spending score 20 with cid and age

x=df.loc[df["Spending Score(1-100)"]==20]       #df.loc[df['Spending Score(1-100)']==20][["CustomerID","Age"]]
x[["CustomerID","Age"]]                         #df.loc[df['Spending Score(1-100)']==20].iloc[:,0:3:2]

     CustomerID  Age
152         153   44
166         167   42

In [ ]:
# Male annual income >15 ,get annual income and spending score

y=df.loc[(df["Annual Income (k$)"]==15) & (df["Gender"]=="Male")]
y[["Annual Income (k$)","Spending Score(1-100)"]]

   Annual Income (k$)  Spending Score(1-100)
0                  15                     39
1                  15                     81

In [ ]:
# display person with age >30 and spending score <40

z=df.loc[(df["Age"]>30) & (df["Spending Score(1-100)"]<40)]
z["CustomerID"]

# df.loc[(df["Age"]>30) & (df["Spending Score(1-100)"]<40)].iloc[:,1:2]

6        7
8        9
10      11
12      13
14      15
16      17
18      19
20      21
22      23
24      25
26      27
28      29
30      31
32      33
34      35
36      37
38      39
40      41
42      43
44      45
126    127
128    129
130    131
136    137
140    141
146    147
148    149
150    151
152    153
154    155
156    157
158    159
160    161
164    165
166    167
168    169
170    171
172    173
174    175
176    177
178    179
180    181
182    183
184    185
186    187
188    189
190    191
192    193
194    195
196    197
198    199
Name: CustomerID, dtype: int64

In [ ]:
# for or a single vertical line is used " | "

df.loc[(df["Age"]>21) | (df["Gender"]=="Male")]

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score(1-100)
0             1    Male   19                  15                     39
1             2    Male   21                  15                     81
3             4  Female   23                  16                     77
4             5  Female   31                  17                     40
5             6  Female   22                  17                     76
..          ...     ...  ...                 ...                    ...
195         196  Female   35                 120                     79
196         197  Female   45                 126                     28
197         198    Male   32                 126                     74
198         199    Male   32                 137                     18
199         200    Male   30                 137                     83

[191 rows x 5 columns]

In [ ]:
df=pd.read_csv("/content/Latest Football  Players 2024 Data.csv")
df

,Teams,Seasons,Players,Matches,Goals,Assists,Seasons Ratings
0,InterMiami,2024,Lionel Messi,15,14,11,8.5
1,InterMiami,2023,Lionel Messi,14,11,5,8.0
2,PSG,2022/2023,Lionel Messi,41,21,20,8.1
3,PSG,2021/2022,Lionel Messi,34,11,14,7.9
4,Barcelona,2020/2021,Lionel Messi,47,38,12,8.4
...,...,...,...,...,...,...,...
1211,Real Sociedad,2020/2021,Mikel Oyarzabal,43,13,10,7.1
1212,Real Sociedad,2019/2020,Mikel Oyarzabal,45,13,13,7.1
1213,Real Sociedad,2018/2019,Mikel Oyarzabal,41,14,2,6.7
1214,Real Sociedad,2017/2018,Mikel Oyarzabal,43,14,6,7.0
1215,Real Sociedad,2016/2017,Mikel Oyarzabal,43,4,8,6.6

In [4]:
# rename
# used to rename a column or more than one column in a df
df.rename(columns={"Genre":"Gender"})

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [6]:
# inplace
# used when we want the changes to reflect to the df
df.rename(columns={"Genre":"Gender"},inplace=True)
df

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [14]:
# sorting the df
# sort_values

df.sort_values(by="Age",ascending=True)

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
33           34    Male   18                  33                      92
114         115  Female   18                  65                      48
91           92    Male   18                  59                      41
65           66    Male   18                  48                      59
68           69    Male   19                  48                      59
..          ...     ...  ...                 ...                     ...
67           68  Female   68                  48                      48
108         109    Male   68                  63                      43
57           58    Male   69                  44                      46
70           71    Male   70                  49                      55
60           61    Male   70                  46                      56

[200 rows x 5 columns]

In [8]:
df.sort_values(by="Age",ascending=True).tail(1)[["Gender","Age"]]

   Gender  Age
60   Male   70

In [33]:
# age 30 highest spending score gender

y=df.loc[df["Age"]==30][["Spending Score (1-100)","Gender","Age"]]

     Spending Score (1-100)  Gender  Age
9                        72  Female   30
37                       73  Female   30
157                      78  Female   30
159                      73  Female   30
175                      86  Female   30
185                      97    Male   30
199                      83    Male   30

In [35]:
y.sort_values(by="Spending Score (1-100)",ascending=True).tail(1)

     Spending Score (1-100) Gender  Age
185                      97   Male   30

In [37]:
# above problem but in a single line
df.loc[df["Age"]==30][["Spending Score (1-100)","Gender","Age"]].sort_values(by="Spending Score (1-100)",ascending=True).tail(1)

     Spending Score (1-100) Gender  Age
185                      97   Male   30

In [40]:
# annual income 120 highest spending score 5 people with annual income and age
df.loc[df["Annual Income (k$)"]==120][["Age","Annual Income (k$)","Spending Score (1-100)"]].sort_values(by="Annual Income (k$)",ascending=True).tail(5)

     Age  Annual Income (k$)  Spending Score (1-100)
194   47                 120                      16
195   35                 120                      79

In [41]:
df=pd.read_csv("/content/netflix_titles.csv")

In [42]:
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [43]:
# used to check the values in a column
# value_counts
df["type"].value_counts()

type
Movie      6131
TV Show    2676
Name: count, dtype: int64

In [44]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [46]:
# print the details of the netflixtitles with duration 1 season and rating is TV-MA
df.loc[(df['duration']=="1 Season") & (df['rating']=="TV-MA")]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...
10,s11,TV Show,"Vendetta: Truth, Lies and The Mafia",NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...","Sicily boasts a bold ""Anti-Mafia"" coalition. B..."
11,s12,TV Show,Bangkok Breaking,Kongkiat Komesiri,"Sukollawat Kanarot, Sushar Manaying, Pavarit M...",NaN,"September 23, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...","Struggling to earn a living in Bangkok, a man ..."
...,...,...,...,...,...,...,...,...,...,...,...,...
8560,s8561,TV Show,The Womanizer,NaN,"Lan Cheng-lung, Sonia Sui, James Wen, Bianca B...",China,"September 1, 2016",2010,TV-MA,1 Season,"International TV Shows, Romantic TV Shows, TV ...",Libertine He-jie finds himself torn between th...
8609,s8610,TV Show,Towies,NaN,NaN,NaN,"December 27, 2017",2016,TV-MA,1 Season,"International TV Shows, Reality TV",Australia's toughest tow truck operators work ...
8633,s8634,TV Show,Trotsky,NaN,"Konstantin Khabenskiy, Olga Sutulova, Max Matv...",Russia,"December 10, 2018",2017,TV-MA,1 Season,"International TV Shows, TV Dramas",The complex historical figure of Leon Trotsky ...
8700,s8701,TV Show,Wartime Portraits,NaN,NaN,Poland,"September 15, 2016",2014,TV-MA,1 Season,"Docuseries, International TV Shows","Part live-action and part animation, this visu..."
8749,s8750,TV Show,Winter Sun,NaN,"kr zyldz, Asl Enver, enay Grler, Baa...",Turkey,"August 1, 2017",2014,TV-MA,1 Season,"International TV Shows, TV Dramas, TV Thrillers",Years after ruthless businessmen kill his fath...

In [59]:
# print the details of the netflixtitles with latest releases
df.loc[df['release_year']==2021]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...
...,...,...,...,...,...,...,...,...,...,...,...,...
1468,s1469,Movie,What Happened to Mr. Cha?,Kim Dong-kyu,"Cha In-pyo, Cho Dal-hwan, Song Jae-ryong",South Korea,"January 1, 2021",2021,TV-MA,102 min,"Comedies, International Movies","With the peak of his career long behind him, a..."
1551,s1552,TV Show,Hilda,NaN,"Bella Ramsey, Ameerah Falzon-Ojo, Oliver Nelso...","United Kingdom, Canada, United States","December 14, 2020",2021,TV-Y7,2 Seasons,Kids' TV,"Fearless, free-spirited Hilda finds new friend..."
1696,s1697,TV Show,Polly Pocket,NaN,"Emily Tennant, Shannon Chan-Kent, Kazumi Evans...","Canada, United States, Ireland","November 15, 2020",2021,TV-Y,2 Seasons,Kids' TV,After uncovering a magical locket that allows ...
2920,s2921,TV Show,Love Is Blind,NaN,"Nick Lachey, Vanessa Lachey",United States,"February 13, 2020",2021,TV-MA,1 Season,"Reality TV, Romantic TV Shows",Nick and Vanessa Lachey host this social exper...
8437,s8438,TV Show,The Netflix Afterparty,NaN,"David Spade, London Hughes, Fortune Feimster",United States,"January 2, 2021",2021,TV-MA,1 Season,"Stand-Up Comedy & Talk Shows, TV Comedies","Hosts David Spade, Fortune Feimster and London..."

In [62]:
# print the details of the netflixtitles with oldest release
df.sort_values(by='release_year',ascending=True).head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
4250,s4251,TV Show,Pioneers: First Women Filmmakers*,NaN,NaN,NaN,"December 30, 2018",1925,TV-14,1 Season,TV Shows,This collection restores films from women who ...

In [66]:
# find latest released movie with julien leclercq as director
df.loc[(df['director']=="Julien Leclercq")].sort_values(by='release_year',ascending=True).tail(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1236,s1237,Movie,Sentinelle,Julien Leclercq,"Olga Kurylenko, Marilyn Lima, Michel Nabokoff,...",France,"March 5, 2021",2021,TV-MA,81 min,"Action & Adventure, Dramas, International Movies",Transferred home after a traumatizing combat m...

In [67]:
# print the show_id and type of the netflix title whose release date is less than 2020
df.loc[df['release_year']<2020][["show_id","type"]]

     show_id     type
7         s8    Movie
21       s22  TV Show
22       s23    Movie
24       s25    Movie
26       s27    Movie
...      ...      ...
8802   s8803    Movie
8803   s8804  TV Show
8804   s8805    Movie
8805   s8806    Movie
8806   s8807    Movie

[7262 rows x 2 columns]

In [70]:
# find oldest released movie with movie type
df.sort_values(by='release_year',ascending=True).head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
4250,s4251,TV Show,Pioneers: First Women Filmmakers*,NaN,NaN,NaN,"December 30, 2018",1925,TV-14,1 Season,TV Shows,This collection restores films from women who ...

In [77]:
# find oldest released movie with movie type with country south africa and title blood and water
df.loc[(df['country']=='South Africa') & (df['title']=='Blood & Water')].sort_values(by='release_year',ascending=True).head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."

In [78]:
# find the show id and type of netflixtitle of latest released show with duration 2 seasons which is a TV SHOW

In [80]:
df.loc[(df['duration']=='2 Seasons') & (df['type']=='TV Show')][['show_id','type','release_year']].sort_values(by='release_year',ascending=False).head(1)

    show_id     type  release_year
276    s277  TV Show          2021